<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('head') %>

        <title>AROBIC</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
        <link rel="stylesheet" type="text/css" href="css/grid.css">
        <link rel="stylesheet" type="text/css" href="css/header.css">
        <link rel="stylesheet" type="text/css" href="css/footer.css">
        <link rel="stylesheet" href="css/arobic.css">


</head>

<body>

    <header>
        <%- include('header')%>
    </header>

    <main>
        <div class="main">
            <div class="grid wide">
                <div class="row">
                    <h2 class="gymer-heading">AROBIC</h2>
                    <div class="gymer-line"></div>
                </div>
            </div>
        </div>
        <div class="list-post">
            <div class="grid wide">
                <div class="row">
                    <div class="item-post col l-12 md-12 c-12">
                        <div class="row">
                            <div class="date col l-1 m-0 c-0">
                                <p class="date-post">10</p>
                                <p class="month-post">04 - 21</p>
                            </div>
                            <div class="post-img col l-3 md-9 c-12">
                                <a href="#">
                                    <img src="./images/luu-y-khi-tap-aerobic.jpeg" alt="" width="100%">
                                </a>
                            </div>
                            <div class="post-info col l-8 md-12 c-12">
                                <a href="#" class="heading-post-link">Các bài tập aerobic cho người mới bắt đầu</a>
                                <p class="post-description">Bạn muốn bắt đầu tập aerobic nhưng không biết bắt đầu từ đâu. Không sao cả hãy để F4 FITNESS giúp cho bạn bằng cách bài tập aerobic cho người mới bắt đầu vừa đơn giản vừa hiệu quả....
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item-post col l-12 md-12 c-12">
                        <div class="row">
                            <div class="date col l-1 m-0 c-0">
                                <p class="date-post">09</p>
                                <p class="month-post">03 - 21</p>
                            </div>
                            <div class="post-img col l-3 md-9 c-12">
                                <a href="#">
                                    <img src="./images/Bai-tap-Aerobic-giam-mo-bung.jpg" alt="" width="100%">
                                </a>
                            </div>
                            <div class="post-info col l-8 md-12 c-12">
                                <a href="#" class="heading-post-link">Những bài Aerobic nào giảm mỡ bụng hiệu quả?</a>
                                <p class="post-description">Các bài tập Aerobic sẽ tác động trực tiếp vào bộ phận trên cơ thể cực mạnh nhằm đốt cháy mỡ thừa và giải phóng độc tố ra khỏi cơ thể qua đường mồ hôi....</p>
                            </div>
                        </div>
                    </div>
                    <div class="item-post col l-12 md-12 c-12">
                        <div class="row">
                            <div class="date col l-1 m-0 c-0">
                                <p class="date-post">21</p>
                                <p class="month-post">02 - 21</p>
                            </div>
                            <div class="post-img col l-3 md-9 c-12">
                                <a href="#">
                                    <img src="./images/aerobic.jpg" alt="" width="100%">
                                </a>
                            </div>
                            <div class="post-info col l-8 md-12 c-12">
                                <a href="#" class="heading-post-link">6 bài tập Aerobic eo thon, dáng khỏe dễ thực hiện ngay tại nhà</a>
                                <p class="post-description">Tập Aerobic phải tập trong khuôn khổ, không tùy tiện, phải tuân thủ các nguyên tắc của Aerobic thì việc giảm cân mới nhanh chóng đạt hiệu quả....
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item-post col l-12 md-12 c-12">
                        <div class="row">
                            <div class="date col l-1 m-0 c-0">
                                <p class="date-post">12</p>
                                <p class="month-post">02 - 21</p>
                            </div>
                            <div class="post-img col l-3 md-9 c-12">
                                <a href="#">
                                    <img src="./images/aerobic1.jpg" alt="" width="100%">
                                </a>
                            </div>
                            <div class="post-info col l-8 md-12 c-12">
                                <a href="#" class="heading-post-link">5 lỗi cơ bản này khi tập Aerobic tại nhà</a>
                                <p class="post-description">Tập aerobic giảm cân tại nhà đang là xu thế mới dành cho các chị em phụ nữ bận rộn. Nổi tiếng với hiệu quả giảm cân cấp tốc rõ rệt, aerobic ngày càng được nhiều bạn nữ áp dụng hơn...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="grid wide">

            <div class="gymer-list-page ">
                <div class="gymer-item-page">
                    <i class="fi-rr-angle-left gymer-item-page__icon"></i>
                </div>
                <div class="gymer-item-page">
                    <a href="#" class="gymer-item-page__link gymer-item-page__link-active">1</a>
                </div>
                <div class="gymer-item-page">
                    <a href="#" class="gymer-item-page__link">2</a>
                </div>
                <div class="gymer-item-page">
                    <a href="#" class="gymer-item-page__link">3</a>
                </div>
                <div class="gymer-item-page">
                    <a href="#" class="gymer-item-page__link">4</a>
                </div>
                <div class="gymer-item-page">
                    <a href="#" class="gymer-item-page__link">5</a>
                </div>
                <div class="gymer-item-page">
                    <i class="fi-rr-angle-right gymer-item-page__icon"></i>
                </div>
            </div>
        </div>

        <div class="img-footer" style="background-image: url(./images/aerobic-footer.jpg);">
            <h1>F4 FITNESS</h1>
            <p>"Cho cuộc sống tươi trẻ, năng động hơn."</p>
        </div>
    </main>


    <footer>
        <%- include('footer') %>
    </footer>


    <!-- Custom JS library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- End JS library -->
</body>

</html>