<!DOCTYPE html>
<html lang="en">

<head>
    <title>Be Stronger F4-Team</title>

    <%- include('head') %>

<<<<<<< HEAD
        <!-- Custom style -->
        <link rel="stylesheet" type="text/css" href="css/grid.css">
        <link rel="stylesheet" type="text/css" href="css/header.css">
        <link rel="stylesheet" type="text/css" href="css/footer.css">
        <link rel="stylesheet" href="css/menu-gym-yoga-dance.css">
        <link rel="stylesheet" href="css/responsive.css">
        <!-- End style -->
</head>
=======
            <!-- Custom style -->
            <link rel="stylesheet" href="css/menu-gym-yoga-dance.css">
            <link rel="stylesheet" href="css/responsive.css">
            <!-- End style -->
    </head>
>>>>>>> 3ea11ff3927be607b9539726a96e6604662dc703

<body>

    <header>
        <%- include('header')%>
    </header>

    <main>
        <div class="section">
            <div class="banner-top" style="background-image: url(images/banner-top.jpg);">
                <div class="grid wide">
                    <div class="row">
                        <h1 class="banner-top__heading">F4 FITNESS</h1>
                        <p class="banner-top__description">"Các bài tập tại đây sẽ giúp cho bạn luyện tập toàn bộ các nhóm cơ trên cơ thể, <br> giúp bạn phát triển toàn diện cơ bắp và có được body dẻo dai, một sức khỏe tốt.
                            <br> Đừng vội nản và hãy kiên trì tập luyện nhé. <br>Thành công sẽ đến với những người kiên trì, cố lên nào!"
                        </p>
                    </div>
                </div>
                <div class="list-category grid wide">
                    <div class="row">
                        <div class="item-category l-4 m-10 c-12 m-o-1 l-o">
                            <img src="images/gym-banner.jpg" alt="" class="item-category__img">
                            <p class="item-category__title">GYM FITNESS</p>
                            <p class="item-category__description">A better way to track workouts</p>
                            <div class="item-category__view">
                                <a href="#gymer" class="item-category__view-more">
                                    <p>View More</p>
                                </a>
                            </div>
                        </div>
                        <div class="item-category l-4 m-10 c-12 m-o-1 l-o">
                            <img src="images/yoga1.jpg" alt="" class="item-category__img">
                            <p class="item-category__title">YOGA</p>
                            <p class="item-category__description">A better way to track workouts</p>
                            <div class="item-category__view">
                                <a href="#yoga" class="item-category__view-more">
                                    <p>View More</p>
                                </a>
                            </div>
                        </div>
                        <div class="item-category l-4 m-10 c-12 m-o-1 l-o">
                            <img src="images/arobic.jpg" alt="" class="item-category__img">
                            <p class="item-category__title">AROBIC</p>
                            <p class="item-category__description">A better way to track workouts</p>
                            <div class="item-category__view">
                                <a href="#arobic" class="item-category__view-more">
                                    <p>View More</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="gymer" id="gymer">
            <div class="grid wide">
                <div class="row">
                    <a href="/gym" class="gymer-heading">GYM FITNESS</a>
                    <div class="gymer-line"></div>
                </div>
            </div>
            <div class="gymer-main grid wide">
                <div class="row">
                    <div class="gymer-post-info col l-3 m-6 c-10 l-o m-o c-o-1">
                        <div class="gymer-post-img">
                            <a href="/gym-post" class="gymer-post-info__link"><img src="images/bai-tap-lung-cho-nu-1.jpg" alt="" class="gymer-post-info__img"></a>
                        </div>
                        <a href="/gym-post" class="gymer-post-info__heading">
                            <h3>8 bài tập lưng cho nữ ngay tại nhà để có thân trên săn chắc</h3>
                        </a>
                        <p class="gymer-post-info__description">Thực hiện các bài tập lưng cho nữ giúp chị em sở hữu một thân trên khỏe mạnh (cụ thể là phần cơ lưng) và là chìa khóa để có một cơ thể cân đối, gợi cảm và còn là giúp chống lại những cơn đau. chấn thương và một tư thế không tốt
                            trong nhiều năm tới.</p>
                    </div>
                    <div class="gymer-post-info col l-3 m-6 c-10 l-o m-o c-o-1">
                        <div class="gymer-post-img">
                            <a href="#" class="gymer-post-info__link"><img src="images/bai-tap-vai-1.jpg" alt="" class="gymer-post-info__img"></a>
                        </div>
                        <a href="#" class="gymer-post-info__heading">
                            <h3>5 bài tập phát triển cơ vai hiếm gymer nào biết</h3>
                        </a>
                        <p class="gymer-post-info__description">Cho dù bạn đang là một gymer sở hữu bờ vai to dày hay đơn giản hơn là bạn đang có gắng duy trì khi đang có vài vấn đề không tốt ở vai thì 5 bài tập phát triển cơ vai này cũng rất phù hợp với bạn.<br> Có 2 quan niệm sai lầm thường
                            thấy khi tập vai<br> 1. Muốn tập cho vai trước thì phải đẩy với góc nghiêng về trước<br> 2. Tập cho vai giữa thì góc đẩy phải hướng thẳng lên trên hoặc góc khuỷu tay phải rộng</p>
                    </div>
                    <div class="gymer-post-info col l-3 m-6 c-10 l-o m-o c-o-1">
                        <div class="gymer-post-img">
                            <a href="#" class="gymer-post-info__link"><img src="images/Single-leg-Straight-leg-Deadlift.jpg" alt="" class="gymer-post-info__img"></a>
                        </div>
                        <a href="#" class="gymer-post-info__heading">
                            <h3>7 Bài tập cho cơ lõi (core) siêu khỏe với tạ Dumbbell</h3>
                        </a>
                        <p class="gymer-post-info__description">Thay đổi cách tập cơ lõi (core) của bạn với những động tác kết hợp. Không có gì ngạc nhiên khi việc tăng cường cơ lõi của bạn là một điều tuyệt vời.
                        </p>
                    </div>
                    <div class="gymer-post-info col l-3 m-6 c-10 l-o m-o c-o-1">
                        <div class="gymer-post-img">
                            <a href="#" class="gymer-post-info__link"><img src="images/bai-tap-than-duoi-voi-miniband-1.png" alt="" class="gymer-post-info__img"></a>
                        </div>
                        <a href="#" class="gymer-post-info__heading">
                            <h3>14 bài tập thân dưới với dây kháng lực miniband dễ dàng tập ở mọi nơi</h3>
                        </a>
                        <p class="gymer-post-info__description">Hôm nay Thể Hình Channel sẽ giới thiệu đến các bạn 15 bài tập thân dưới với dây kháng lực miniband để bạn có thể tập tại nhà.
                        </p>
                    </div>
                </div>
            </div>
            <div class="gymer-list-page">
                <div class="gymer-item-page">
                    <i class="fi-rr-angle-left gymer-item-page__icon"></i>
                </div>
                <div class="gymer-item-page">
                    <a href="#" class="gymer-item-page__link gymer-item-page__link-active">1</a>
                </div>
                <div class="gymer-item-page">
                    <a href="#" class="gymer-item-page__link">2</a>
                </div>
                <div class="gymer-item-page">
                    <a href="#" class="gymer-item-page__link">3</a>
                </div>
                <div class="gymer-item-page">
                    <a href="#" class="gymer-item-page__link">4</a>
                </div>
                <div class="gymer-item-page">
                    <a href="#" class="gymer-item-page__link">5</a>
                </div>
                <div class="gymer-item-page">
                    <i class="fi-rr-angle-right gymer-item-page__icon"></i>
                </div>
            </div>
            <div class="gymmer-footer" style="background-image: url(images/bg_people.jpg);">
                <img src="images/down_white_line_big.webp" alt="" width="100%">
                <img src="images/gymmer-footer3.webp" alt="" class="gymmer-footer-img2">
                <img src="images/gymer-footer1.webp" alt="" class="gymmer-footer-img1">
                <img src="images/gummer-footer2.webp" alt="" class="gymmer-footer-img3">

            </div>
        </div>

        <div class="yoga" id="yoga">
            <div class="grid wide">
                <div class="row">
                    <a href="/yoga" class="yoga-heading">YOGA</a>
                    <div class="yoga-line"></div>
                </div>
            </div>
            <div class="yoga-main grid wide">
                <div class="row">
                    <div class=" col l-4 m-8 c-10 l-o m-o-2 c-o-1">
                        <div class="yoga-post-info">
                            <a href="#" class="yoga-post-info__img-link">
                                <img src="images/tap-yoga-mua-he-1.jpg" alt="" class="yoga-post-info__img">
                            </a>

                            <a href="#" class="yoga-post-heading">
                                <h3>10 cách để cơ thể giữ nước cho luyện tập yoga vào mùa hè</h3>
                            </a>
                            <p class="yoga-post-description">Mùa hè đang đến gần, và đối với thiền sinh, các bạn hãy nghĩ đến việc luyện tập yoga ngoài trời. Khi thời tiết thuận lợi, luyện tập yoga vào mùa hè bên ngoài có thể mang lại cảm giác...
                            </p>
                        </div>
                    </div>
                    <div class="col l-4 m-8 c-10 l-o m-o-2 c-o-1">
                        <div class="yoga-post-info">
                            <a href="#" class="yoga-post-info__img-link">
                                <img src="images/cobra-pose-1.jpg" alt="" class="yoga-post-info__img">
                            </a>

                            <a href="#" class="yoga-post-heading">
                                <h3>Yoga hằng ngày: 10 tư thế Yoga bạn nên thực hành mỗi ngày</h3>
                            </a>

                            <p class="yoga-post-description">Đôi khi, bạn không thể tập yoga cả tiếng đồng hồ, nhưng nếu tập yoga hằng ngày bạn sẽ có thể chỉ cần từ 10 đến 15 phút mỗi lần tập để kéo giãn lưng, đùi sau và hông...</p>
                        </div>
                    </div>
                    <div class=" col l-4 m-8 c-10 l-o m-o-2 c-o-1">
                        <div class="yoga-post-info">
                            <a href="#" class="yoga-post-info__img-link">
                                <img src="images/tap-yoga-tai-nha.jpg" alt="" class="yoga-post-info__img">
                            </a>

                            <a href="#" class="yoga-post-heading">
                                <h3>Hướng dẫn tập Yoga tại nhà đúng cách cho người mới bắt đầu!
                                </h3>
                            </a>

                            <p class="yoga-post-description">Yoga là bộ môn thể dục mang lại cho người tập rất nhiều lợi ích và hiện nó đang thu hút được rất nhiều người quan tâm, tham gia tập luyện. Tuy nhiên, không phải ai cũng có điều kiện để đến phòng tập...</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="yoga-list-post grid wide">
                <div class="row" style="margin-top: 40px;">
                    <div class="yoga-item-post yoga-item-post-active"></div>
                    <div class="yoga-item-post"></div>
                    <div class="yoga-item-post"></div>
                </div>
            </div>
            <div class="yoga-footer" style="background-image: url(images/yoga-background.png);">
                <p class="yoga-footer-desctiption">
                    "Yoga mang bạn hòa mình vào thiên nhiên và dạy cho bạn cách tò mò, cách hào hứng về thế giới tâm hồn."
                    <br> - Debasish
                </p>
            </div>
        </div>

        <div class="arobic" id="arobic">
            <div class="grid wide">
                <div class="row">
                    <a href="/arobic" class="arobic-heading">AROBIC</a>
                    <div class="arobic-line"></div>
                </div>
            </div>
            <div class="arobic-main grid wide">
                <div class="row">
                    <div class="arobic-post-info col l-3 m-6 c-10 l-o m-o c-o-1">
                        <div class="arobic-post-img">
                            <a href="#" class="arobic-post-info__link"><img src="images/luu-y-khi-tap-aerobic.jpeg" alt="" class="arobic-post-info__img"></a>
                        </div>
                        <a href="#" class="arobic-post-info__heading">
                            <h3>Các bài tập aerobic cho người mới bắt đầu</h3>
                        </a>
                        <div class="arobic-post-info_line"></div>
                        <p class="arobic-post-info__description">Bạn muốn bắt đầu tập aerobic nhưng không biết bắt đầu từ đâu. Không sao cả hãy để F4 FITNESS giúp cho bạn bằng cách bài tập aerobic cho người mới bắt đầu vừa đơn giản vừa hiệu quả....</p>
                        <div class="arobic-post-info_line-bot"></div>
                    </div>
                    <div class="arobic-post-info col l-3 m-6 c-10 l-o m-o c-o-1">
                        <div class="arobic-post-img">
                            <a href="#" class="arobic-post-info__link"><img src="images/Bai-tap-Aerobic-giam-mo-bung.jpg" alt="" class="arobic-post-info__img"></a>
                        </div>
                        <a href="#" class="arobic-post-info__heading">
                            <h3>Những bài Aerobic nào giảm mỡ bụng hiệu quả?</h3>
                        </a>
                        <div class="arobic-post-info_line"></div>
                        <p class="arobic-post-info__description">Các bài tập Aerobic sẽ tác động trực tiếp vào bộ phận trên cơ thể cực mạnh nhằm đốt cháy mỡ thừa và giải phóng độc tố ra khỏi cơ thể qua đường mồ hôi....
                        </p>
                        <div class="arobic-post-info_line-bot"></div>
                    </div>
                    <div class="arobic-post-info col l-3 m-6 c-10 l-o m-o c-o-1">
                        <div class="arobic-post-img">
                            <a href="#" class="arobic-post-info__link"><img src="images/aerobic.jpg" alt="" class="arobic-post-info__img"></a>
                        </div>
                        <a href="#" class="arobic-post-info__heading">
                            <h3>6 bài tập Aerobic eo thon, dáng khỏe dễ thực hiện ngay tại nhà</h3>
                        </a>
                        <div class="arobic-post-info_line"></div>
                        <p class="arobic-post-info__description">Tập Aerobic phải tập trong khuôn khổ, không tùy tiện, phải tuân thủ các nguyên tắc của Aerobic thì việc giảm cân mới nhanh chóng đạt hiệu quả....</p>
                        <div class="arobic-post-info_line-bot"></div>
                    </div>
                    <div class="arobic-post-info col l-3 m-6 c-10 l-o m-o c-o-1">
                        <div class="arobic-post-img">
                            <a href="#" class="arobic-post-info__link"><img src="images/aerobic1.jpg" alt="" class="arobic-post-info__img"></a>
                        </div>
                        <a href="#" class="arobic-post-info__heading">
                            <h3>5 lỗi cơ bản này khi tập Aerobic tại nhà</h3>
                        </a>
                        <div class="arobic-post-info_line"></div>
                        <p class="arobic-post-info__description">Tập aerobic giảm cân tại nhà đang là xu thế mới dành cho các chị em phụ nữ bận rộn. Nổi tiếng với hiệu quả giảm cân cấp tốc rõ rệt, aerobic ngày càng được nhiều bạn nữ áp dụng hơn...</p>
                        <div class="arobic-post-info_line-bot"></div>
                    </div>

                </div>
            </div>
            <div class="gymer-list-page">
                <div class="gymer-item-page">
                    <i class="fi-rr-angle-left gymer-item-page__icon"></i>
                </div>
                <div class="gymer-item-page">
                    <a href="#" class="gymer-item-page__link gymer-item-page__link-active">1</a>
                </div>
                <div class="gymer-item-page">
                    <a href="#" class="gymer-item-page__link">2</a>
                </div>
                <div class="gymer-item-page">
                    <a href="#" class="gymer-item-page__link">3</a>
                </div>
                <div class="gymer-item-page">
                    <a href="#" class="gymer-item-page__link">4</a>
                </div>
                <div class="gymer-item-page">
                    <a href="#" class="gymer-item-page__link">5</a>
                </div>
                <div class="gymer-item-page">
                    <i class="fi-rr-angle-right gymer-item-page__icon"></i>
                </div>
            </div>

            <div class="arobic-footer" style="background-image: url(images/aerobic-footer.jpg);">
                <h1>F4 FITNESS</h1>
                <p>"Cho cuộc sống tươi trẻ, năng động hơn."</p>
            </div>
        </div>
    </main>

    <footer>
        <%- include('footer') %>
    </footer>

    <!-- Custom JS library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/js/uikit-icons.min.js"></script>
    <!-- End JS library -->

</body>

</html>