<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('head') %>

        <title>Event fitness</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
        <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
        <link rel="stylesheet" type="text/css" href="css/grid.css">
        <link rel="stylesheet" type="text/css" href="css/header.css">
        <link rel="stylesheet" type="text/css" href="css/footer.css">
        <link rel="stylesheet" href="css/event.css">


</head>

<body>

    <header>
        <%- include('header')%>
    </header>

    <main>
        <div class="main">
            <h1 class="event-heading">Muscular Strength Fitness</h1>
            <div class="banner-top" style="background-image: url('./images/events-photos-1.jpg')">
                <div class="event-time">
                    <div class="date-time">
                        <h2 class="date">20</h2>
                        <p class="month">JUNE</p>
                        <div class="red-background"></div>
                    </div>
                    <div class="time">
                        <i class="fi-rr-clock icon-time"></i>
                        <p>8:00 pm — 9:00 pm</p>
                    </div>
                    <div class="address-event">
                        <i class="fi-rr-marker icon-address"></i>
                        <p>CT5A Van Khe Ha Dong - Ha Noi - Viet Nam</p>
                    </div>
                    <p class="addr">New York, NY 10022 United States</p>
                </div>
            </div>

            <div class="grid wide">
                <div class="row">
                    <div class="col l-9 md-12 c-12 info">
                        <p class="des">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Dear Nikolay Totev,
                            Are you looking for a right partner to execute your mobile app development and web development projects. If yes, then we are happy for reaching you at the right time.
                        </p>
                        <div class="center">
                            <div class="row">
                                <div class="col l-4 md-4 c-12">
                                    <div class="lever">
                                        <div id="circle"></div>
                                    </div>
                                    <div class="persen">
                                        <p class="persen-munber">0</p>
                                        <p class="persen-icon">%</p>
                                    </div>
                                    <div class="lever-title">
                                        <p>DIFFICULTY LEVEL</p>
                                        <p style="color: red;"> MEDIUM</p>
                                    </div>
                                </div>
                                <div class="col l-8 md-8 c-12">
                                    <p class="des">
                                        Dear Nikolay Totev, Are you looking for a right partner to execute your mobile app development and web development projects.
                                    </p>
                                    <p class="des">
                                        If yes, then we are happy for reaching you at the right time. We are currently offering our mobile app developers at just $12/hr and web developers at just $9/hr.
                                    </p>
                                    <p class="des">
                                        Yudiz Solutions is an ISO… Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
                                    </p>
                                    <p class="des">
                                        Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <p class="des">
                            Dear Nikolay Totev, Are you looking for a right partner to execute your mobile app development and web development projects. If yes, then we are happy for reaching you at the right time.
                        </p>
                        <div class="achievements">
                            <div class="row">
                                <div class="col l-6 md-6 c-12">
                                    <div class="icon-cup">
                                        <i class="fi-rr-trophy"></i>
                                    </div>
                                    <div class="line-cup"></div>
                                    <ul class="list-cup">
                                        <li class="item-cup">Echocardiography</li>
                                        <li class="item-cup">Implantable Cardiac Monitor (ICM)</li>
                                        <li class="item-cup">Treadmill stress testing</li>
                                        <li class="item-cup">Transoesophageal echocardiogram (TOE)</li>
                                        <li class="item-cup">Pacemaker checks</li>
                                        <li class="item-cup">Holter monitoring</li>
                                    </ul>
                                </div>
                                <div class="col l-6 md-6 c-12">
                                    <div class="icon-cup">
                                        <i class="fi-rr-credit-card"></i>
                                    </div>
                                    <div class="line-cup"></div>
                                    <ul class="list-price">
                                        <li class="item-price">
                                            <p>1-day Session</p>
                                            <p>-</p>
                                            <p style="font-weight: 700;">$ 15.00&ensp;<span style="color: red;">Buy</span></p>
                                        </li>
                                        <li class="item-price">
                                            <p>7-day Session</p>
                                            <p>-</p>
                                            <p style="font-weight: 700;">$ 100.00&ensp;<span style="color: red;">Buy</span></p>
                                        </li>
                                        <li class="item-price">
                                            <p>30-day Session</p>
                                            <p>-</p>
                                            <p style="font-weight: 700;">$ 400.00&ensp;<span style="color: red;">Buy</span></p>
                                        </li>
                                        <li class="item-price">
                                            <p>365-day Session</p>
                                            <p>-</p>
                                            <p style="font-weight: 700;">$ 1000.00&ensp;<span style="color: red;">Buy</span></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- trainer -->
                        <div class="trainer">
                            <div class="trainer-heading">
                                <h2>Trainers</h2>
                            </div>
                            <div class="trainer-line"></div>
                            <div class="row">
                                <div class="trainer-info col l-4 md-4 c-12">
                                    <div class="trainer-img">
                                        <img src="./images/trainer-1.jpg" alt="">
                                    </div>
                                    <h2 class="trainer-name">Ashley Fletcher</h2>
                                    <p class="trainer-des">FITNESS INSTRUCTOR</p>
                                    <div class="line-train"></div>
                                    <a href="#" class="trainer-email">lennth2104013@fpt.edu.vn</a>
                                    <p class="trainer-mobie">Tel: 800-700-6200</p>
                                    <div class="trainer-contact">
                                        <a href=""><i class="fab fa-facebook-f"></i></a>
                                        <a href=""> <i class="fab fa-twitter"></i></a>
                                        <a href=""><i class="fab fa-youtube"></i></a>
                                        <a href=""><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                                <div class="trainer-info col l-4 md-4 c-12">
                                    <div class="trainer-img">
                                        <img src="./images/trainer-2.jpg" alt="">
                                    </div>
                                    <h2 class="trainer-name">Rodney Stratton</h2>
                                    <p class="trainer-des">PRO BODYBUILDER</p>
                                    <div class="line-train"></div>
                                    <a href="#" class="trainer-email">lennth2104013@fpt.edu.vn</a>
                                    <p class="trainer-mobie">Tel: 800-700-6200</p>
                                    <div class="trainer-contact">
                                        <a href=""><i class="fab fa-facebook-f"></i></a>
                                        <a href=""> <i class="fab fa-twitter"></i></a>
                                        <a href=""><i class="fab fa-youtube"></i></a>
                                        <a href=""><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                                <div class="trainer-info col l-4 md-4 c-12">
                                    <div class="trainer-img">
                                        <img src="./images/trainer-3.jpg" alt="">
                                    </div>
                                    <h2 class="trainer-name">Kyne Jameson</h2>
                                    <p class="trainer-des">DANCING TEACHER</p>
                                    <div class="line-train"></div>
                                    <a href="#" class="trainer-email">lennth2104013@fpt.edu.vn</a>
                                    <p class="trainer-mobie">Tel: 800-700-6200</p>
                                    <div class="trainer-contact">
                                        <a href=""><i class="fab fa-facebook-f"></i></a>
                                        <a href=""> <i class="fab fa-twitter"></i></a>
                                        <a href=""><i class="fab fa-youtube"></i></a>
                                        <a href=""><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="line-bot"></div>
                    </div>

                    <!-- right main -->
                    <div class="ringt-main col l-3 md-12 c-12">
                        <h2 class="right-title">Details</h2>
                        <div class="line-right"></div>
                        <ul class="class-info">
                            <li class="class-item">
                                <p>Date:</p>
                                <p>March 20, 2022</p>
                            </li>
                            <li class="class-item">
                                <p>Time:</p>
                                <p>8:00 pm - 9:00 pm</p>
                            </li>
                            <li class="class-item">
                                <p>Event Categories:</p>
                                <p style="color: red;">Fitness, GYM, Strength</p>
                            </li>
                            <li class="class-item">
                                <p>Date:</p>
                                <p>March 20, 2022</p>
                            </li>
                        </ul>
                        <div class="line-right"></div>
                        <ul class="class-info">
                            <li class="class-item">
                                <p>Organizer:</p>
                                <p>Michael</p>
                            </li>
                            <li class="class-item">
                                <p>Phone:</p>
                                <p>002 334 848 444</p>
                            </li>
                            <li class="class-item">
                                <p>Email:</p>
                                <p style="color: red;">lennth2104013<br>@fpt.edu.vn</p>
                            </li>
                            <li class="class-item">
                                <p>Website:</p>
                                <p style="color: red;">f4-project.<br>herokuapp.com</p>
                            </li>
                        </ul>
                        <div class="maps">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.0960608006635!2d105.77982571532782!3d21.028842035998355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313455f9bdf0e1c7%3A0x26caee8e7662dd9b!2zRlBUIEFwdGVjaCBIw6AgTuG7mWk!5e0!3m2!1svi!2s!4v1626412300388!5m2!1svi!2s"
                                width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                        <div class="line-right"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('footer') %>
    </footer>


    <!-- Custom JS library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="./js/circle-progress.min.js"></script>
    <script src="./js/event.js"></script>
    <!-- End JS library -->
</body>

</html>