<!-- Begin footer -->
<div id="footer">
    <div class="row">
        <div class="col l-3 md-6 c-12">
            <h3><i class="fas fa-user-friends"></i> <b>ABOUT US</b> </h3>
            <p>
                Mollit quis mollit sint magna deserunt magna duis excepteur Lorem
                laboris in tempor. Quis occaecat consectetur pariatur eiusmod Lorem.
                Ex nulla et cillum veniam ullamco duis dolor. Est qui non ullamco
                laborum adipisicing eiusmod anim. In sint quis consequat aliquip
                occaecat voluptate magna consectetur in consectetur nulla anim ad.
            </p>
        </div>
        <div class="col l-3 md-6 c-12">
            <h3><i class="fas fa-info"></i> <b>INFO</b></h3>
            <ul>
                <li><i class="fas fa-map-marked-alt fa-lg"></i> Hanoi, Vietnam</li>
                <li><i class="fas fa-phone-alt fa-lg"></i> +123 456 789</li>
                <li><i class="fas fa-fax fa-lg"></i> +987 654 3210</li>
                <li><i class="fas fa-envelope fa-lg"></i> Email@email.com</li>
                <li><i class="fas fa-globe-asia fa-lg"></i> www.website.com.vn</li>
            </ul>
        </div>
        <div class="col l-3 md-6 c-12">
            <h3><i class="fas fa-link"></i> <b>LINKS</b></h3>
            <ul>
                <li class="dropup">
                    <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                    </button>
                    <!-- <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                    </div> -->
                    <a href="/"><i class="fas fa-home fa-lg"></i> Home</a>
                </li>
                <li class="dropup">
                    <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/healthy-life-news">News</a>
                        <a class="dropdown-item" href="/healthy-life-tips">Tips</a>
                        <a class="dropdown-item" href="/healthy-life-thuoc">Functional Foods</a>
                    </div>
                    <a href="/healthy-life"><i class="fab fa-pagelines fa-lg"></i> Healthy Life</a>
                </li>
                <li class="dropup">
                    <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/gym">GYM</a>
                        <a class="dropdown-item" href="/yoga">YOGA</a>
                        <a class="dropdown-item" href="/arobic">AEROBIC</a>
                        <a class="dropdown-item" href="/event">EVENT</a>
                    </div>
                    <a href="/be-stronger"><i class="fas fa-dumbbell"></i> Be Stronger</a>
                </li>
                <li class="dropup">
                    <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/healthy-recipes">Healthy Recipes</a>
                        <a class="dropdown-item" href="/nutrition-facts">Nutrition Facts</a>
                        <a class="dropdown-item" href="/virtual-event">Event</a>
                    </div>
                    <a href="/healthy-foods"><i class="fas fa-seedling fa-lg"></i> Healthy Foods</a>
                </li>
                <li class="dropup">
                    <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/calc">Body Mass Index (BMI)</a>
                        <a class="dropdown-item" href="/calc">Ideal Body Weight</a>
                        <a class="dropdown-item" href="/calc">Daily Calorie Intake</a>
                        <a class="dropdown-item" href="/calc">Calories Burned</a>
                    </div>
                    <a href="/calc"><i class="fas fa-heartbeat"></i> Health Calculators</a>
                </li>
                <li class="dropup">
                    <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/user">User Dashboard</a>
                    </div>
                    <a data-toggle="modal" data-target="#header-modal" href="#"><i class="fas fa-address-card fa-lg"></i> Sign In / Sign Up</a>
                </li>
            </ul>
        </div>
        <div class="col l-3 md-6 c-12">
            <h3><i class="fas fa-project-diagram"></i> <b>CONNECT WITH US</b></h3>
            <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="Enter your email" />
                <div class="input-group-append">
                    <button class="btn btn-success" type="submit">
                        <i class="fas fa-check fa-lg"></i>
                    </button>
                </div>
            </div>
            <div class="footer-socials">
                <a href="#"><i class="fab fa-facebook fa-3x"></i></a>
                <a href="#"><i class="fab fa-twitter fa-3x"></i></a>
                <a href="#"><i class="fab fa-instagram fa-3x"></i></a>
                <a href="#"><i class="fab fa-youtube fa-3x"></i></a>
                <a href="#"><i class="fab fa-google-plus fa-3x"></i></a>
                <a href="#"><i class="fab fa-skype fa-3x"></i></a>
                <a href="#"><i class="fab fa-snapchat-ghost fa-3x"></i></a>
            </div>
        </div>
    </div>
    <div class="row" style="border-top: 1px solid #ccc;justify-content: space-between;margin: 8px 0;">
        <div>Powered by <a href="#"><b>F4-Team</b></a></div>
        <div><b>
                <%= count %>
            </b>: lượt truy cập</div>
    </div>
</div>
<!-- End footer -->