<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('head') %>

        <title>F4 FITNESS</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
        <link rel="stylesheet" type="text/css" href="css/grid.css">
        <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
        <link rel="stylesheet" type="text/css" href="css/header.css">
        <link rel="stylesheet" type="text/css" href="css/footer.css">
        <link rel="stylesheet" href="css/gym-post.css">


</head>

<body>

    <header>
        <%- include('header')%>
    </header>

    <main>
        <div class="main">
            <div class="grid wide">
                <div class="row">
                    <h1 class="heading-post">8 bài tập lưng cho nữ ngay tại nhà để có thân trên săn chắc</h1>
                </div>
                <div class="row">
                    <!-- Post info -->
                    <div class="post-info col l-9 md-12 c-12">
                        <p class="post-date"><span style="color: red;">Gary Jones</span>&nbsp;&nbsp;&nbsp;&nbsp; June 10 2021</p>
                        <div class="post-img-top">
                            <img src="./images/bai-tap-lung-cho-nu-1.jpg" alt="" class="image">
                        </div>
                        <p class="post-des">Thực hiện các bài tập lưng cho nữ giúp chị em sở hữu một thân trên khỏe mạnh (cụ thể là phần cơ lưng) và là chìa khóa để có một cơ thể cân đối, gợi cảm và còn là giúp chống lại những cơn đau. chấn thương và một tư thế không tốt
                            trong nhiều năm tới.Nhưng nếu bạn không thể đi tới phòng tập gym do dịch bệnh như hiện nay thì vẫn có thể tập tại nhà với các dụng cụ có sẵn tại nhà của mình như chai nước, ghế ngồi…
                        </p>
                        <p class="post-des">Các bạn sẽ thực hiện chuỗi bài tập này trong 3-4 lần mỗi tuần. Nghỉ ngơi giữa các hiệp 1-2 phút và thực hiện 8 bài tập 2-3 lần mỗi bài</p>
                        <p class="post-des">Dụng cụ cần: Một cặp tạ đơn nhẹ (hoặc thay thế bằng chai nước nếu bạn không có tạ) và thảm tập.</p>
                        <h3 class="post-title">1. T-Raises</h3>
                        <div class="post-img">
                            <img src="./images/post1-image-2.jpg" alt="">
                        </div>
                        <ul class="info-list">
                            <li class="info-item">Hai tay cầm tạ, 2 chân rộng đứng bằng hông</li>
                            <li class="info-item">Hỏi khuỵu gối, đẩy hông ra sau nghiêng người về trước đến khi thân trên gần song song với sàn nhà.
                            </li>
                            <li class="info-item">Đưa tạ lại gần nhau, lòng bàn tay hướng tới trước.
                            </li>
                            <li class="info-item">Giữ thẳng tay, từ từ di chuyển cánh tay lên cao ngang vai sau đó từ từ hạ xuống. Đảm bảo cơ lõi và cơ mông siết chặt khi thực hiện.
                            </li>
                            <li class="info-item">Thực hiện 15 lần trong 2-3 hiệp.</li>
                        </ul>
                        <h3 class="post-title">2. Single Arm Dumbbell Row
                        </h3>
                        <div class="post-img">
                            <img src="./images/post1-image-3.jpg" alt="">
                        </div>
                        <ul class="info-list">
                            <li class="info-item">Cầm tạ bằng tay trái, hai chân đứng rộng bằng hông, đầu gối hơi khuỵu, đẩy hông ra sau, tay phải đặt trên đùi phải (hoặc tường để giữ thăng bằng), hạ thấp người đến khi gần song song với mặt sàn.</li>
                            <li class="info-item">Kéo tạ lên khuỷu tay hướng lên trần nhà, chú ý siết bả vai khi kéo lên.</li>
                            <li class="info-item">Thực hiện 10 lần, sau đó đổi tay. Thực hiện trong 2-3 hiệp mỗi bên
                            </li>
                        </ul>
                        <h3 class="post-title">3. Delt Raise</h3>
                        <div class="post-img">
                            <img src="./images/post1-image-4.jpg" alt="">
                        </div>
                        <p class="post-des">Khi nói đến tập luyện tại nhà hoặc bất kỳ đâu thì đều cần phải có sự kiểm soát, để đạt được hiệu quả cao nhất của bài tập lưng hãy tập trung loại bỏ quán tính và sử dụng cơ lưng hơn là cơ tay.</p>
                        <ul class="info-list">
                            <li class="info-item">Cầm một quả tạ trên tay 2 tay, 2 chân rộng bằng hông, đầu gối hơi khuỵu xuống. Nghiêng người tới trước đến khi gần song song với sàn nhà
                            </li>
                            <li class="info-item">2 tay giữ tạ trước mặt, lòng bàn ty hướng vào nhau, không duỗi thẳng tay hoàn toàn và vẫn cong nhẹ, từ từ mở rộng cánh tay sang 2 bên đến khi cao ngang vai thì dừng lại.
                            </li>
                            <li class="info-item">Từ từ hạ tạ xuống có kiểm soát, độ cong ở khuỷu tay không thay đổi. Siết chặt cơ lõi và cơ mông khi thực hiện động tác.
                            </li>
                            <li class="info-item">Thực hiện 10 lần, 2-3 hiệp.
                            </li>
                        </ul>
                        <h3 class="post-title">4. Plank with Lateral Arm Raise</h3>
                        <div class="post-img">
                            <img src="./images/post1-image-5.jpg" alt="">
                        </div>
                        <p class="post-des">Bài tập lưng cho nữ tiếp theo sẽ là một biến thể của Plank, vừa giúp khỏe cơ bụng và cải thiện khả năng giữ thăng bằng của cơ thể.</p>
                        <ul class="info-list">
                            <li class="info-item">Bắt đầu với tư thế Plank thẳng tay, 2 tay đặt vuông góc dươi vai và 2 chân rộng hơn hông một chút.
                            </li>
                            <li class="info-item">Cố gắng cố định phần hông, nâng cánh tay trái sang bên trái cao ngang vai.
                            </li>
                            <li class="info-item">Đưa tay trở lại vị trí cũ và đổi tay.
                            </li>
                            <li class="info-item">Thực hiện 10 lần mỗi bên trong 2-3 hiệp.
                            </li>
                        </ul>
                        <h3 class="post-title">5. Push-Up Hold</h3>
                        <p class="post-des">Thay vì thực hiện hít đất hàng trăm cái, bạn chỉ cần thực hiện vài hiệp tập hít đất theo hướng dẫn dưới đây cũng mang lại hiệu quả bất ngờ cho cơ lưng và cơ lõi đấy</p>
                        <div class="post-img">
                            <img src="./images/post1-image-6.jpg" alt="">
                        </div>
                        <ul class="info-list">
                            <li class="info-item">Bắt đầu ở tư thế chống đẩy, 2 tay rộng hơn vai một chút, 2 chân rộng bằng hông. Cơ thể thẳng từ đầu đến gót chân.
                            </li>
                            <li class="info-item">Bắt đầu hạ thấp thân người xuống đến khi cách sàn sàn vào centimet thì dừng lại và giữ im trong 2-3 giây</li>
                        </ul>
                        <h3 class="post-title">6. Back and Booty Blasters</h3>
                        <p class="post-des">Mặc dù bài tập này chủ yếu tập luyện cho cơ mông, đùi sau và đùi trong nhiều hơn, nhưng cơ lưng của bạn vẫn có tham gia vào nên nó vẫn là bài tập lưng cho nữ tuyệt vời.</p>
                        <div class="post-img">
                            <img src="./images/post1-image-7.jpg" alt="">
                        </div>
                        <ul class="info-list">
                            <li class="info-item">Nằm sấp trên sàn, nâng ngực lên, ưỡn người ra sau và đan tay vào nhau. </li>
                            <li class="info-item">Nâng tay và chân lên, 2 gót chân chạm vào nhau.</li>
                            <li class="info-item">Từ từ đưa 2 chân ra xa rồi đưa trở lại gần nhau.
                            </li>
                            <li class="info-item">Thực hiện 20 lần</li>
                        </ul>
                        <h3 class="post-title">7. Twister</h3>
                        <p class="post-des">Đã đến lúc tập một bài vặn mình, tư thế chiếc gế này vừa kéo giãn và tăng cường sức mạnh cho lưng của bạn đồng thời tư thế vặn mình sẽ tập cho các cơ xiên.</p>
                        <div class="post-img">
                            <img src="./images/post1-image-8.jpg" alt="">
                        </div>
                        <ul class="info-list">
                            <li class="info-item">Squat xuống tư thế chiếc ghế với 2 tay trước ngực như tư thế cầu nguyện.</li>
                            <li class="info-item">Vặn thân sang phải trong khi giữ nguyên tư thế ban đầu với khuỷu tay trái đặt bên ngoài đầu gối phải, khuỷu tay còn lại hướng lên trần nhà.
                            </li>
                            <li class="info-item">Giữ im trong 3 nhịp thở, sau đó trở về vị trí ban đầu và chuyển qua bên kia.
                            </li>
                            <li class="info-item">Thực hiện mỗi bên 4 lần
                            </li>
                        </ul>
                        <h3 class="post-title">8. Pilates Press</h3>
                        <p class="post-des">Một bài tập lưng cho nữ có thêm một hiệu quả khác là săn chắc vòng một, miễn là bạn không để hông hạ xuống khi hạ thấp thân người.
                        </p>
                        <div class="post-img">
                            <img src="./images/post1-image-9.jpg" alt="">
                        </div>
                        <ul class="info-list">
                            <li class="info-item">Bắt đầu với tư thế chống đẩy và uống cong một chân về sau, bàn chân hướng lên trần nhà.</li>
                            <li class="info-item">Hạ thân người xuống đất bằng cách gập khuỷu tay và giữ thẳng lưng.
                            </li>
                            <li class="info-item">Đẩy cơ thể về vị trí ban đầu.
                            </li>
                            <li class="info-item">Thực hiện 10 lần sau đó đổi chân.
                            </li>
                        </ul>
                    </div>

                    <!-- Right bar -->
                    <div class="right-bar col l-3 md-12 c-12">
                        <div class="right-bar-heading">
                            <i class="fi-rr-folder ringt-bar-icon"></i> Menu
                        </div>
                        <ul class="category-list">
                            <li class="category-item"><a href="menu-gym-yoga-dance.html" class="category-item-link">Home</a></li>
                            <li class="category-item"><a href="gym.html" class="category-item-link">Gym Fitness</a></li>
                            <li class="category-item"><a href="yoga.html" class="category-item-link">Yoga</a></li>
                            <li class="category-item"><a href="arobic.html" class="category-item-link">Arobic</a></li>
                        </ul>
                        <div class="right-bar-heading second">
                            <i class="fi-rr-alarm-clock ringt-bar-icon"></i> Archives
                        </div>
                        <ul class="category-list">
                            <li class="category-item"><a href="" class="category-item-link">July 2021</a></li>
                            <li class="category-item"><a href="" class="category-item-link">June 2021</a></li>
                            <li class="category-item"><a href="" class="category-item-link">January 2021</a></li>
                            <li class="category-item"><a href="" class="category-item-link">December 2020</a></li>
                            <li class="category-item"><a href="" class="category-item-link">October 2020</a></li>
                            <li class="category-item"><a href="" class="category-item-link">August 2020</a></li>
                            <li class="category-item"><a href="" class="category-item-link">July 2020</a></li>
                            <li class="category-item"><a href="" class="category-item-link">April 2020</a></li>
                        </ul>

                        <ul class="list-train">
                            <li class="item-train">
                                <i class="fi-rr-apps ringt-bar-icon"></i> What's Next
                            </li>
                            <li class="item-train">
                                <a href="/event" class="train-link">
                                    <div class="train-date">
                                        <p>20</p>
                                        <p class="train-month">JUN</p>
                                    </div>
                                    <div class="train-title"><a href="/event" class="train-title-link">Muscular Strength Fitness	</a></div>
                                </a>
                                <div class="hover-item-train"></div>
                            </li>
                            <li class="item-train">
                                <a href="" class="train-link">
                                    <div class="train-date">
                                        <p>24</p>
                                        <p class="train-month">JUN</p>
                                    </div>
                                    <div class="train-title"><a href="" class="train-title-link">Aerobics class	</a></div>
                                </a>
                                <div class="hover-item-train"></div>
                            </li>
                            <li class="item-train">
                                <a href="" class="train-link">
                                    <div class="train-date">
                                        <p>30</p>
                                        <p class="train-month">JUN</p>
                                    </div>
                                    <div class="train-title"><a href="" class="train-title-link">Pregnant Yoga Exercises in 30min</a></div>
                                </a>
                                <div class="hover-item-train"></div>
                            </li>
                            <li class="item-train">
                                <a href="" class="train-link">
                                    <div class="train-date">
                                        <p>08</p>
                                        <p class="train-month">JUL</p>
                                    </div>
                                    <div class="train-title"><a href="" class="train-title-link">Morning Stretching</a></div>
                                </a>
                                <div class="hover-item-train"></div>
                            </li>
                            <li class="item-train-last">
                                <a href="" class="train-link">
                                    <div class="train-title"><a href="" class="train-title-link">View Full Timetable and Book</a></div>
                                </a>
                            </li>
                        </ul>

                        <div class="form">
                            <div class="form-heading">
                                Pre-register for our Webinar
                            </div>
                            <p class="name">Enter your name</p>
                            <input type="text" placeholder="Your name" class="input">
                            <p class="name">Enter your Email</p>
                            <input type="email" placeholder="Your Email" class="input">
                            <button type="submit" class="btn-form">PRE-REGISTER</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Related Stories -->

        <div class="related" id="related">
            <div class="grid wide">
                <div class="row">
                    <a href="related.html" class="related-heading">Related Stories</a>
                    <div class="related-line"></div>
                </div>
            </div>
            <div class="related-main grid wide">
                <div class="row">
                    <div class="related-post-info col l-3 m-6 c-10 l-o m-o c-o-1">
                        <div class="related-post-img">
                            <a href="#" class="related-post-info__link"><img src="./images/luu-y-khi-tap-aerobic.jpeg" alt="" class="related-post-info__img"></a>
                        </div>
                        <a href="#" class="related-post-info__heading">
                            <h3>Các bài tập aerobic cho người mới bắt đầu</h3>
                        </a>
                        <div class="related-post-info_line"></div>
                        <p class="related-post-info__description">Bạn muốn bắt đầu tập aerobic nhưng không biết bắt đầu từ đâu. Không sao cả hãy để F4 FITNESS giúp cho bạn bằng cách bài tập aerobic cho người mới bắt đầu vừa đơn giản vừa hiệu quả....</p>
                        <div class="related-post-info_line-bot"></div>
                    </div>
                    <div class="related-post-info col l-3 m-6 c-10 l-o m-o c-o-1">
                        <div class="related-post-img">
                            <a href="#" class="related-post-info__link"><img src="./images/Bai-tap-Aerobic-giam-mo-bung.jpg" alt="" class="related-post-info__img"></a>
                        </div>
                        <a href="#" class="related-post-info__heading">
                            <h3>Những bài Aerobic nào giảm mỡ bụng hiệu quả?</h3>
                        </a>
                        <div class="related-post-info_line"></div>
                        <p class="related-post-info__description">Các bài tập Aerobic sẽ tác động trực tiếp vào bộ phận trên cơ thể cực mạnh nhằm đốt cháy mỡ thừa và giải phóng độc tố ra khỏi cơ thể qua đường mồ hôi....
                        </p>
                        <div class="related-post-info_line-bot"></div>
                    </div>
                    <div class="related-post-info col l-3 m-6 c-10 l-o m-o c-o-1">
                        <div class="related-post-img">
                            <a href="#" class="related-post-info__link"><img src="./images/aerobic.jpg" alt="" class="related-post-info__img"></a>
                        </div>
                        <a href="#" class="related-post-info__heading">
                            <h3>6 bài tập Aerobic eo thon, dáng khỏe dễ thực hiện ngay tại nhà</h3>
                        </a>
                        <div class="related-post-info_line"></div>
                        <p class="related-post-info__description">Tập Aerobic phải tập trong khuôn khổ, không tùy tiện, phải tuân thủ các nguyên tắc của Aerobic thì việc giảm cân mới nhanh chóng đạt hiệu quả....</p>
                        <div class="related-post-info_line-bot"></div>
                    </div>
                    <div class="related-post-info col l-3 m-6 c-10 l-o m-o c-o-1">
                        <div class="related-post-img">
                            <a href="#" class="related-post-info__link"><img src="./images/aerobic1.jpg" alt="" class="related-post-info__img"></a>
                        </div>
                        <a href="#" class="related-post-info__heading">
                            <h3>5 lỗi cơ bản này khi tập Aerobic tại nhà</h3>
                        </a>
                        <div class="related-post-info_line"></div>
                        <p class="related-post-info__description">Tập aerobic giảm cân tại nhà đang là xu thế mới dành cho các chị em phụ nữ bận rộn. Nổi tiếng với hiệu quả giảm cân cấp tốc rõ rệt, aerobic ngày càng được nhiều bạn nữ áp dụng hơn...</p>
                        <div class="related-post-info_line-bot"></div>
                    </div>

                </div>
            </div>



        </div>
        <div class="post-footer" style="background-image: url(./images/aerobic-footer.jpg);">
            <h1>F4 FITNESS</h1>
            <p>"Cho cuộc sống tươi trẻ, năng động hơn."</p>
        </div>
    </main>

    <footer>
        <%- include('footer') %>
    </footer>


    <!-- Custom JS library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- End JS library -->
</body>

</html>