<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('head') %>

        <title>GYM FITNESS</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
        <link rel="stylesheet" type="text/css" href="css/grid.css">
        <link rel="stylesheet" type="text/css" href="css/header.css">
        <link rel="stylesheet" type="text/css" href="css/footer.css">
        <link rel="stylesheet" href="css/gym.css">


</head>

<body>

    <header>
        <%- include('header')%>
    </header>

    <main>
        <div class="main">
            <div class="grid wide">
                <div class="row">
                    <h2 class="gymer-heading">GYM FITNESS</h2>
                    <div class="gymer-line"></div>
                </div>
            </div>
        </div>
        <div class="list-post">
            <div class="grid wide">
                <div class="row">
                    <div class="item-post col l-12 md-12 c-12">
                        <div class="row">
                            <div class="date col l-1 m-0 c-0">
                                <p class="date-post">10</p>
                                <p class="month-post">04 - 21</p>
                            </div>
                            <div class="post-img col l-3 md-9 c-12">
                                <a href="/gym-post">
                                    <img src="./images/bai-tap-lung-cho-nu-1.jpg" alt="" width="100%">
                                </a>
                            </div>
                            <div class="post-info col l-8 md-12 c-12">
                                <a href="/gym-post" class="heading-post-link">8 bài tập lưng cho nữ ngay tại nhà để có thân trên săn
                                    chắc</a>
                                <p class="post-description">Thực hiện các bài tập lưng cho nữ giúp chị em sở hữu một thân trên khỏe mạnh (cụ thể là phần cơ lưng) và là chìa khóa để có một cơ thể cân đối, gợi cảm và còn là giúp chống lại những cơn đau. chấn thương và một tư thế không
                                    tốt trong nhiều năm tới. Nhưng nếu bạn không thể đi tới phòng tập gym do dịch bệnh như hiện nay thì vẫn có thể tập tại nhà với các dụng cụ có sẵn tại nhà của mình như chai nước, ghế ngồi…
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item-post col l-12 md-12 c-12">
                        <div class="row">
                            <div class="date col l-1 m-0 c-0">
                                <p class="date-post">09</p>
                                <p class="month-post">03 - 21</p>
                            </div>
                            <div class="post-img col l-3 md-9 c-12">
                                <a href="#">
                                    <img src="./images/bai-tap-vai-1.jpg" alt="" width="100%">
                                </a>
                            </div>
                            <div class="post-info col l-8 md-12 c-12">
                                <a href="#" class="heading-post-link">5 bài tập phát triển cơ vai hiếm gymer nào biết</a>
                                <p class="post-description">Cho dù bạn đang là một gymer sở hữu bờ vai to dày hay đơn giản hơn là bạn đang có gắng duy trì khi đang có vài vấn đề không tốt ở vai thì 5 bài tập phát triển cơ vai này cũng rất phù hợp với bạn.<br> Có 2 quan niệm sai
                                    lầm thường thấy khi tập vai<br> 1. Muốn tập cho vai trước thì phải đẩy với góc nghiêng về trước<br> 2. Tập cho vai giữa thì góc đẩy phải hướng thẳng lên trên hoặc góc khuỷu tay phải rộng</p>
                            </div>
                        </div>
                    </div>
                    <div class="item-post col l-12 md-12 c-12">
                        <div class="row">
                            <div class="date col l-1 m-0 c-0">
                                <p class="date-post">21</p>
                                <p class="month-post">02 - 21</p>
                            </div>
                            <div class="post-img col l-3 md-9 c-12">
                                <a href="#">
                                    <img src="./images/Single-leg-Straight-leg-Deadlift.jpg" alt="" width="100%">
                                </a>
                            </div>
                            <div class="post-info col l-8 md-12 c-12">
                                <a href="#" class="heading-post-link">7 Bài tập cho cơ lõi (core) siêu khỏe với tạ Dumbbell</a>
                                <p class="post-description">Thay đổi cách tập cơ lõi (core) của bạn với những động tác kết hợp. Không có gì ngạc nhiên khi việc tăng cường cơ lõi của bạn là một điều tuyệt vời.<br> Khi nói đến cơ lõi, có nghĩa là tôi đang nói tất cả các nhóm cơ tạo
                                    nên phần thân trên của cơ thể bạn. Đây là những cơ nâng đỡ cột sống của bạn và giữ cho cơ thể bạn đứng thẳng, cho phép bạn vặn sang một bên và giữ ổn định cơ thể khi bạn nâng vật nặng.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item-post col l-12 md-12 c-12">
                        <div class="row">
                            <div class="date col l-1 m-0 c-0">
                                <p class="date-post">12</p>
                                <p class="month-post">02 - 21</p>
                            </div>
                            <div class="post-img col l-3 md-9 c-12">
                                <a href="#">
                                    <img src="./images/bai-tap-than-duoi-voi-miniband-1.png" alt="" width="100%">
                                </a>
                            </div>
                            <div class="post-info col l-8 md-12 c-12">
                                <a href="#" class="heading-post-link">14 bài tập thân dưới với dây kháng lực miniband dễ dàng tập ở mọi nơi</a>
                                <p class="post-description">Hôm nay F4 Fitness sẽ giới thiệu đến các bạn 15 bài tập thân dưới với dây kháng lực miniband để bạn có thể tập tại nhà. Tập luyện với dây kháng lực có một ưu điểm đó chính là phụ kiện tập gym này rất nhẹ, bạn có thể mang
                                    đi mọi nơi, kể cả khi du lịch thay thế cho những cặp tạ đơn cồng kềnh.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="grid wide">

            <div class="gymer-list-page ">
                <div class="gymer-item-page">
                    <i class="fi-rr-angle-left gymer-item-page__icon"></i>
                </div>
                <div class="gymer-item-page">
                    <a href="#" class="gymer-item-page__link gymer-item-page__link-active">1</a>
                </div>
                <div class="gymer-item-page">
                    <a href="#" class="gymer-item-page__link">2</a>
                </div>
                <div class="gymer-item-page">
                    <a href="#" class="gymer-item-page__link">3</a>
                </div>
                <div class="gymer-item-page">
                    <a href="#" class="gymer-item-page__link">4</a>
                </div>
                <div class="gymer-item-page">
                    <a href="#" class="gymer-item-page__link">5</a>
                </div>
                <div class="gymer-item-page">
                    <i class="fi-rr-angle-right gymer-item-page__icon"></i>
                </div>
            </div>
        </div>
        <div class="img-footer" style="background-image: url(./images/aerobic-footer.jpg);">
            <h1>F4 FITNESS</h1>
            <p>"Cho cuộc sống tươi trẻ, năng động hơn."</p>
        </div>
    </main>



    <footer>
        <%- include('footer') %>
    </footer>


    <!-- Custom JS library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- End JS library -->
</body>

</html>