<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Healthy Life Functional Food</title>

        <%- include('head') %>
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

            <!-- Custom style -->
            <link rel="stylesheet" type="text/css" href="css/haidm-page-thuoc.css">

            <!-- End style -->
    </head>

    <body>

        <header>
            <%- include('header')%>
        </header>

        <main>
            <div class="main">
                <!-- Image header -->
                <div class="w3-display-container w3-wide" id="home">
                    <img class="w3-image" src="/images/haidm-tpcn-background.jpg" alt="Fashion Blog" width="100%" height="1060">
                    <div class="w3-display-left w3-padding-large">
                        <h1 style="text-shadow: black 0.1em 0.1em 0.2em;" class="w3-text-white">Giới Thiệu</h1>
                        <h1 style="text-shadow: black 0.1em 0.1em 0.2em;" class="w3-jumbo w3-text-white w3-hide-small"><b>Sản Phẩm Chức Năng</b></h1>
                    </div>
                </div>
                <!-- !PAGE CONTENT! -->
                <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
            
                    <!-- First Photo Grid-->
                    <div class="w3-row-padding w3-padding-16 w3-center" id="food">
                        <div class="w3-quarter">
                            <a href="#"><img src="/images/haidm-tpcn1.jpg" alt="Steak" style="width:100%"></a>
                            <h3>Sâm Alipas</h3>
                            <p>HỒI SINH PHONG ĐỘ THỜI TRAI TRẺ.
                            </p>
                        </div>
                        <div class="w3-quarter">
                            <a href="#"><img src="/images/haidm-thuoc1.jpg" alt="Steak" style="width:100%"></a>
                            <h3>Thực phẩm chức năng Blackmores Women's Vitality Multi</h3>
                            <p>Viên uống tăng sức đề kháng cho nữ.
                            </p>
                        </div>
                        <div class="w3-quarter">
                            <a href="#"><img src="/images/haidm-tpcn2.jpg" alt="Steak" style="width:100%"></a>
                            <h3>Thực phẩm chức năng Rocket1h</h3>
                            <p>Viên uống tăng sức dẻo dai cho nam giới.
                            </p>
                        </div>
                        <div class="w3-quarter">
                            <a href="#"><img src="/images/haidm-thuoc2.jpg" alt="Steak" style="width:100%"></a>
                            <h3>Viên uống bổ sung Vitamin Mega Vitamin Multivitamins For Teens </h3>
                            <p>Vitamin tổng hợp cho trẻ vị thành niên
                            </p>
                        </div>
                    </div>
            
                    <!-- Second Photo Grid-->
                    <div class="w3-row-padding w3-padding-16 w3-center">
                        <div class="w3-quarter">
                            <a href="#"><img src="/images/haidm-thuoc3.jpg" alt="Steak" style="width:100%"></a>
                            <h3>Thực phẩm bảo vệ sức khỏe Solgar Omega 3 Fish Oil Concentrate (120 viên)</h3>
                            <p>Dầu cá Omega-3
                            </p>
                        </div>
                        <div class="w3-quarter">
                            <a href="#"><img src="/images/haidm-thuoc4.jpg" alt="Steak" style="width:100%"></a>
                            <h3>Viên uống hỗ trợ tim mạch Puritan'S Pride Maximum Strength Triple Omega 3-6-9 Fish, Flax & Chia Oils</h3>
                            <p>Thực phẩm chức năng hỗ trợ tim mạch.
                            </p>
                        </div><div class="w3-quarter">
                            <a href="#"><img src="/images/haidm-thuoc5.jpg" alt="Steak" style="width:100%"></a>
                            <h3>Thực phẩm bảo vệ sức khỏe Formula VM-75 Solgar </h3>
                            <p>Vitamin và khoáng chất.
                            </p>
                        </div><div class="w3-quarter">
                            <a href="#"><img src="/images/haidm-thuoc6.jpg" alt="Steak" style="width:100%"></a>
                            <h3>Vitamin C 1000mg with Bioflavonoids & Rose Hips </h3>
                            <p>Vitamin C tăng sức đề kháng.
                            </p>
                        </div>
                    </div>
                    <!-- Pagination -->
                    <div class="w3-center w3-padding-32">
                        <div class="w3-bar">
                            <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
                            <a href="#" class="w3-bar-item w3-black w3-button">1</a>
                            <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
                            <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
                            <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
                            <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
                        </div>
                    </div>
            
                    <hr id="about">
            
                    <!-- About Section -->
                    <div class="w3-container w3-padding-32 w3-center">
                        <h3>Sản phẩm tốt tiêu biểu của tháng</h3><br>
                        <a href="#"><img src="images/haidm-tpcn-background.jpg" alt="Me" class="w3-image" style="display:block;margin:auto"
                            width="800" height="533"></a>
                        <div class="w3-padding-32">
                            <h4><b>Thuốc rau má</b></h4>
                            <h6><i>Thành phần 100% tự nhiên</i></h6>
                            <p>Viên uống Rutin-C Rau Má giúp mát gan,
                                 thông mật lợi tiểu, tăng cường chức năng gan trong các trường hợp:
                                  chức năng han suy giảm, viêm gan, xơ gan, men gan cao, gan nhiễm mỡ,
                                   dùng nhiều bia rượu, thuốc lá. Đáp ứng nhu cầu vitamin C hằng ngày.
                                </p>
                        </div>
                    </div>
                </div>
                <hr>
                </div>
        </main>

        <footer>
            <%- include('footer') %>
        </footer>

        <!-- Custom JS library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <!-- End JS library -->

    </body>

</html>