<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Healthy Foods F4-Team</title>

        <%- include('head') %>
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

            <!-- Custom style -->
            <!-- End style -->
            <style>
                body,
                h2,
                h4,
                h5,
                h6 {
                    font-family: "Fira Sans"
                }

                h1 {
                    font-family: 'Cookie', cursive;
                }

                h3 {
                    font-family: "Fira Sans";
                    padding: 0 10px;
                    margin-top: 5px;
                    color: #1D262D;
                    font-weight: 600px;
                }

                .here:hover {
                    color: coral
                }

                .navbar {
                    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
                    width: border-box
                }

                .w3-quarter a {
                    text-decoration: none
                }

                .w3-quarter a:hover {
                    text-decoration: underline;
                    color: cornflowerblue
                }

                .w3-quarter img:hover {
                    box-shadow: 3px 3px 10px darkgrey
                }
            </style>
    </head>

    <body>

        <header>
            <%- include('header')%>
        </header>

        <main>
            <!-- Navbar (sit on top) -->
            <div class="container" style="margin-top: 80px">
                <div class="w3-bar menu-headline">
                    <h1 style="font-size: 70px; text-align: center; margin-bottom: 10px"> F4 Healthy Eating </h1>
                </div>
                <div class="w3-bar navbar" style="letter-spacing: 2px">
                    <a href="/mngan-main-page.html" class="w3-left w3-bar-item w3-button">Home</a>
                    <div class="w3-right">
                        <a href="/healthy-recipes.html" class="w3-bar-item w3-button">Healthy Recipes</a>
                        <a href="/nutrition-facts.html" class="w3-bar-item w3-button">Nutrition Facts</a>
                        <a href="mngancountdown.html" class="w3-bar-item w3-button">Our Virtual Event</a>
                    </div>
                </div>
            </div>

            <!-- PAGE CONTENT -->
            <div class="container" style="max-width:1200px;margin-top:100px; padding: 8px 16px !important;">

                <!-- First Photo Grid-->
                <div class="w3-row-padding w3-padding-16 w3-center" id="food">
                    <div class="menu-headline">
                        <a href="https://f4-project.herokuapp.com/menu-healthy-eating.html">
                            <h1 style="font-size: 50px; color: #1D262D; text-align: center; margin-bottom: 20px">
                                Healthy Recipes </h1>
                        </a>
                    </div>
                    <div class="w3-quarter">
                        <img src="images/g1.jpg" width="250" height="375">
                        <a href="#">
                            <h3>Spring Roll for this Summer</h3>
                        </a>
                        <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
                    </div>
                    <div class="w3-quarter">
                        <img src="images/g4.jpg" width="250" height="375">
                        <a href="#">
                            <h3>Salmon Teriyaki Bibimbap</h3>
                        </a>
                        <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum
                            lipsum.</p>
                    </div>
                    <div class="w3-quarter">
                        <img src="images/g2.jpg" width="250" height="375">
                        <a href="#">
                            <h3>Chia Seed Mousse with Almond</h3>
                        </a>
                        <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
                        <p>What else?</p>
                    </div>
                    <div class="w3-quarter">
                        <img src="images/g8.jpg" width="250" height="375">
                        <a href="#">
                            <h3>All-Green Salad with Lime Sauce</h3>
                        </a>
                        <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
                    </div>
                </div>

                <!-- Second Photo Grid-->
                <div class="w3-row-padding w3-padding-16 w3-center">
                    <div class="w3-quarter">
                        <img src="images/g5.jpg" width="250" height="375">
                        <a href="#">
                            <h3>Sweet & Sour Vegan Vermicelli</h3>
                        </a>
                        <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
                    </div>
                    <div class="w3-quarter">
                        <img src="images/g7.jpg" width="250" height="375">
                        <a href="#">
                            <h3> Pumpkin Soup with <br> a Twist</h3>
                        </a>
                        <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum
                            lipsum.</p>
                    </div>
                    <div class="w3-quarter">
                        <img src="images/g6.jpg" width="250" height="375">
                        <a href="#">
                            <h3>Let Me Tell You About This Steak</h3>
                        </a>
                        <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
                    </div>
                    <div class="w3-quarter">
                        <a href="#"><img src="images/g3.jpg" width="250" height="375"></a>
                        <a href="#">
                            <h3>Berries Smoothie Bowl for a Refresh</h3>
                        </a>
                        <p>Lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
                    </div>
                </div>

                <!-- Pagination -->
                <div class="w3-center w3-padding-32">
                    <div class="w3-bar">
                        <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
                        <a href="#" class="w3-bar-item w3-black w3-button">1</a>
                        <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
                        <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
                        <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
                        <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
                    </div>
                </div>

                <hr>

                <!-- Third Photo Grid-->
                <div class="w3-row-padding w3-padding-16 w3-center" id="nutrition">
                    <div class="menu-headline">
                        <a href="#">
                            <h1 style="font-size: 50px; color: #1D262D; text-align: center; margin-bottom: 20px">
                                Nutrition Facts </h1>
                        </a>
                    </div>
                    <div class="w3-quarter">
                        <img src="images/g9.jpg" width="250" height="375">
                        <a href="#">
                            <h3>Green Peas - an Antioxidant </h3>
                        </a>
                        <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
                    </div>
                    <div class="w3-quarter">
                        <img src="images/g10.jpg" width="250" height="375">
                        <a href="#">
                            <h3>Tomatoes for Your Skin</h3>
                        </a>
                        <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum
                            lipsum.</p>
                    </div>
                    <div class="w3-quarter">
                        <img src="images/g11.jpg" width="250" height="375">
                        <a href="#">
                            <h3>Homemade Pasta <br>is Better </h3>
                        </a>
                        <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
                        <p>What else?</p>
                    </div>
                    <div class="w3-quarter">
                        <a href="#"><img src="images/g12.jpg" width="250" height="375"></a>
                        <a href="#">
                            <h3>Mussels' Nutrition Facts</h3>
                        </a>
                        <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
                    </div>
                </div>

                <div class="w3-center w3-padding-32">
                    <div class="w3-bar">
                        <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
                        <a href="#" class="w3-bar-item w3-black w3-button">1</a>
                        <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
                        <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
                        <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
                        <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
                    </div>
                </div>

                <hr id="about">

                <!-- Event Section -->
                <div class="w3-container w3-padding-32 w3-center" id="event">
                    <div class="menu-headline">
                        <a href="#">
                            <h1 style="font-size: 50px; color: #1D262D; text-align: center; margin-bottom: 20px"> Our
                                Virtual Event </h1>
                        </a>
                    </div>
                    <h3> PRE-REGISTER <a href="#" style="color: #020202" class="here">HERE!</a></h3><br>
                    <img src="images/guest.jpg" alt="Guest" class="w3-image" style="display:block;margin:auto"
                        width="810" height="540">
                    <div class="w3-padding-32">
                        <h4><b>With Keri Glassman, </b></h4>
                        <h6><i>the impressive registered Dietitian and go-to source for all things nutrition.</i></h6>
                        <p>It’s challenging to cook and eat healthy meals at the best of times.
                            But now that we’re staying home and reducing trips to the supermarket, it’s all too easy
                            <br>
                            to slip into bad habits and to let your healthy eating goals slide.
                            Join us for our FREE Healthy Eating Webinar,
                            hosted by our team members and featured <br> our amazing guest speaker Keri! You’ll learn
                            helpful tips and tricks on how to eat well
                            during this pandemic. </p>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <%- include('footer') %>
        </footer>

        <!-- Custom JS library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/js/uikit-icons.min.js"></script>
        <!-- End JS library -->

    </body>

</html>