<!DOCTYPE html>
<html lang="en">

<head>
    <title>Healthy Foods F4-Team</title>

    <%- include('head') %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="css/healthyrecipes.css">
</head>

<body>

    <header>
        <%- include('header')%>
    </header>

    <main>
        <!-- Navbar (sit on top) -->
        <div class="container" style="margin-top: 80px">
            <div class="w3-bar navbar" style="letter-spacing: 2px">
                <a href="/mngan-main-page.html" class="w3-left w3-bar-item w3-button">Home</a>
                <div class="w3-right">
                    <a href="/healthy-recipes.html" class="w3-bar-item w3-button">Healthy Recipes</a>
                    <a href="/nutrition-facts.html" class="w3-bar-item w3-button">Nutrition Facts</a>
                    <a href="/mngancountdown.html" class="w3-bar-item w3-button">Our Virtual Event</a>
                </div>
            </div>
        </div>

        <!-- !PAGE CONTENT! -->
        <div class="row">
            <div class="container">
                <div class="menu-headline">
                    <h1 style="font-size: 75px; text-align: center; margin: 25px 0"> Healthy Recipes </h1>
                </div>
                <div class="text" style="line-height: 1.6; text-align: center; font-size: 16px">
                    <p><i> Searching for 100% clean eating recipes made with whole, unprocessed foods? Welcome!
                            Here you’ll find every recipe you need to follow a clean eating diet
                            from morning until night. From&nbsp;clean dairy-free recipes, clean paleo recipes and&nbsp;Whole30&nbsp;to&nbsp;
                            clean vegetarian recipes and budget recipes, F4 Healthy Eating offers original, triple-tested clean
                            cooking recipes that deliver solid nutrition, whatever your clean living lifestyle looks like.
                        </i></p>
                </div>
            </div>
        </div>

        <!-- GRID -->
        <div class="container" style="max-width:1200px;margin-top:70px; padding: 8px 16px !important;">
            <div class="w3-row-padding w3-center">
                <div class="media">
                    <p style="opacity: 0.1;">hello</p>
                </div>
                <div class="description">
                    <a href="#"><h2 style="font-size: 35px">New-Fashioned Crab Louie Salad</h2></a>
                    <p style="font-size: 17px; color: #363636">This modern play on the original Crab Louie — a mayo-heavy salad reportedly from 1915-era San Francisco — is studded with crunchy radishes and cucumbers, tasty pickles and loads of sweet crabmeat piled high on the plate.</p>
                </div>
            </div>
            <hr>
            <!-- Highlight Posts -->
            <div class="w3-row-padding w3-padding-16 w3-center">
                <div class="menu-headline">
                    <h1 style="font-size: 50px; color: #1D262D; margin-bottom: 20px"> Today's Highlight Post </h1>
                </div>
                <div class="w3-quarter">
                    <img src="images/g1.jpg" width="250" height="375">
                    <a href="#"><h3>Spring Roll for this Summer</h3></a>
                    <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
                </div>
                <div class="w3-quarter">
                    <img src="images/g4.jpg" width="250" height="380">
                    <a href="#"><h3>Salmon Teriyaki Bibimbap</h3></a>
                    <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
                </div>
                <div class="w3-quarter">
                    <img src="images/g2.jpg" width="250" height="375">
                    <a href="#"><h3>Chia Seed Mousse with Almond</h3></a>
                    <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
                    <p>What else?</p>
                </div>
                <div class="w3-quarter">
                    <img src="images/g8.jpg" width="250" height="375">
                    <a href="#"><h3>All-Green Salad with Lime Sauce</h3></a>
                    <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
                </div>
            </div>
            <hr>
            <!-- Big Post -->
            <div class="w3-row-padding w3-padding-16 w3-center">
                <div class="menu-headline">
                    <h1 style="font-size: 50px; color: #1D262D; margin-bottom: 20px"> Our Latest Posts </h1>
                </div>
                <div class="w3-threequarter">
                    <div class="media2">
                        <p style="opacity: 0.1;">hello</p>
                    </div>
                    <div class="description2">
                        <a href="#"><h3 style="font-size: 30px"> Eggplant Rollups with <br> Ricotta Topping</h3></a>
                        <p>A creamy cashew sauce stands in for ricotta in this plant-based bake. We top it with Pecorino Romano cheese,
                            but if you prefer to keep it dairy-free, you can<span style="color: #4b4b4b">...</span></p>
                    </div>
                </div>
                <div class="w3-quarter">
                    <div class="tags">
                        <h1 style="font-size: 45px;"> Popular Topics </h1>
                        <p>Readers are most interested in the following tags!</p>
                        <ul style="line-height: 2.0; text-align: left">
                            <li><a href="#"><h4> Budget </h4></a></li>
                            <li><a href="#"><h4> Quick & Easy </h4></a></li>
                            <li><a href="#"><h4> Breakfast </h4></a></li>
                            <li><a href="#"><h4> Vegetarians </h4></a></li>
                            <li><a href="#"><h4> Dairy-Free </h4></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <!-- Latest Posts -->
            <div class="w3-row-padding w3-padding-16 w3-center" id="nutrition">

                <div class="w3-quarter">
                    <img src="images/g3.jpg" width="250" height="375">
                    <a href="#"><h3>Berries Smoothie Bowl for a Refresh</h3></a>
                    <p>Lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
                </div>
                <div class="w3-quarter">
                    <img src="images/g7.jpg" width="250" height="375">
                    <a href="#"><h3> Pumpkin Soup with <br> a Twist</h3></a>
                    <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
                </div>
                <div class="w3-quarter">
                    <img src="images/g6.jpg" width="250" height="375">
                    <a href="#"><h3>Let Me Tell You About This Steak</h3></a>
                    <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
                </div>
                <div class="w3-quarter">
                    <div class="newsletter">
                        <h1 style="font-size: 50px;"> Join our Weekly Newsletter</h1>
                        <p class="newslettertext">Sign up to receive recipes, cooking tips and the latest kitchen product reviews in your inbox!</p>
                        <form method="post">
                            <label><b>Your name</b></label>
                            <input type="text" placeholder="Name" name="name" required>

                            <label><b>Your Email</b></label>
                            <input type="text" placeholder="Email" name="email" required>

                            <button type="submit" class="btn">SIGN UP</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="w3-row-padding w3-padding-16 w3-center">
                <div class="w3-quarter">
                    <img src="images/g5.jpg" width="250" height="375">
                    <a href="#"><h3>Sweet & Sour Vegan Vermicelli</h3></a>
                    <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
                </div>
                <div class="w3-quarter">
                    <img src="images/g13.jpg" width="250" height="375">
                    <a href="#"><h3>Classic Banana Bread - A Bliss of Baking</h3></a>
                    <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent.</p>
                </div>
                <div class="w3-quarter">
                    <img src="images/g14.jpg" width="250" height="375">
                    <a href="#"><h3> Maple Roasted Carrots with Mustard & Pine Nuts </h3></a>
                    <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
                </div>
            </div>

            <div class="w3-padding-32" style="margin-left: 25%">
                <div class="w3-bar">
                    <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
                    <a href="#" class="w3-bar-item w3-black w3-button">1</a>
                    <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
                    <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
                    <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
                    <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
                </div>
            </div>
        </div>

    </main>

    <footer>
        <%- include('footer') %>
    </footer>

    <!-- Custom JS library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- End JS library -->
</body>