<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Healthy Life Tips</title>

        <%- include('head') %>
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

            <!-- Custom style -->
            <link rel="stylesheet" type="text/css" href="css/haidm-page-tips.css">

            <!-- End style -->
    </head>

    <body>

        <header>
            <%- include('header')%>
        </header>

        <main>
            <div class="main">
                <!-- Image header -->
                <div class="w3-display-container w3-wide" >
                    <img class="w3-image" src="/images/haidm-tips-background.jpg" alt="" width="100%" height="1060">
                    <div class="w3-display-left w3-padding-large">
                        <h1 class="w3-text-blue-gray">Mẹo hay</h1>
                        <h1 class="w3-jumbo w3-text-blue-gray w3-hide-small"><b>Mỗi ngày</b></h1>
                        <h1 style="margin-top: 150px;" class="w3-text-blue-gray">Chia sẻ những mẹo vặt hay, có ích <br> trong cuộc sống</h1>
                    </div>
                </div>
                <!-- !PAGE CONTENT! -->
                <div class="w3-main container">
        
                    <!-- First Photo Grid-->
                    <div class="w3-row-padding">
                        <div class="w3-third w3-container w3-margin-bottom">
                            <a href="#"><img class="img-tips" src="images/haidm-tips1.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity"></a>
                            <div class="w3-container w3-white">
                                <h4 style="margin-top: 30px;"><b>Cách xử lý khi bị bỏng</b></h4>
                                <p>Y khoa chia bỏng làm 3 cấp độ khác nhau: <br>
                                    - Cấp độ 1 (first-degree): Bỏng nhẹ, cụ thể như đi phơi nắng ngoài bãi biển, da bị đỏ lên và hơi rát.
                                </p>
                                <a href="#"><i>Xem thêm...</i></a>
                            </div>
                        </div>
                        <div class="w3-third w3-container w3-margin-bottom">
                            <a href="#"><img class="img-tips" src="images/haidm-tips2.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity"></a>
                            <div class="w3-container w3-white">
                                <h4 style="margin-top: 30px;"><b>7 sai lầm khi dùng kem chống nắng mà cứ 10 người thì 9 người mắc</b></h4>
                                <p>Cái nắng thiêu đốt 38- 39 độ C đang hiện hữu làm cho mọi người luôn e ngại khi ra đường. Việc sử dụng kem chống nắng để ...
                                </p>
                                <a href="#"><i>Xem thêm...</i></a>
                            </div>
                        </div>
                        <div class="w3-third w3-container w3-margin-bottom">
                            <a href="#"><img class="img-tips" src="images/haidm-tips3.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity"></a>
                            <div class="w3-container w3-white">
                                <h4 style="margin-top: 30px;"><b>Vệ sinh tay đúng cách</b></h4>
                                <p>Nữ trang, sơn móng tay, móng tay giả, điện thoại di động,… là những nơi thuận lợi cho vi khuẩn/ vi trùng trú ngụ và sinh sôi.
                                </p>
                                <a href="#"><i>Xem thêm...</i></a>
                            </div>
                        </div>
                    </div>
        
                    <!-- Second Photo Grid-->
                    <div class="w3-row-padding">
                        <div class="w3-third w3-container w3-margin-bottom">
                            <a href="#"><img class="img-tips" src="images/haidm-tips4.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity"></a>
                            <div class="w3-container w3-white">
                                <h4 style="margin-top: 30px;"><b>Lợi ích của mật ong nâu nâu</b></h4>
                                <p>Mật ong kết hợp bột nghệ giúp làm sáng da. Dĩ nhiên là da bạn không thể trắng ra ngay sau một đêm mà đòi hỏi bạn cần áp dụng công thức này...
                                </p>
                                <a href="#"><i>Xem thêm...</i></a>
                            </div>
                        </div>
                        <div class="w3-third w3-container w3-margin-bottom">
                            <a href="#"><img class="img-tips" src="images/haidm-tips5.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity"></a>
                            <div class="w3-container w3-white">
                                <h4 style="margin-top: 30px;"><b>5 bí quyết đi vào giấc ngủ nhanh chóng</b></h4>
                                <p>Những điều chúng ta đều có thể làm ngay trong tối nay và tương lai để bắt đầu một giấc ngủ tốt hơn là gì?. Thật ra thì ngoài việc ngủ đủ giấc 8 tiếng, có ít nhất 5 việc ta có thể làm là:...
                                </p>
                                <a href="#"><i>Xem thêm...</i></a>
                            </div>
                        </div>
                        <div class="w3-third w3-container w3-margin-bottom">
                            <a href="#"><img class="img-tips" src="images/haidm-tips6.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity"></a>
                            <div class="w3-container w3-white">
                                <h4 style="margin-top: 30px;"><b>10 lời khuyên cho chăm sóc sức khỏe của lưng</b></h4>
                                <p>10 lời khuyên giúp lưng bạn khỏe mạnh​, bao gồm các lời khuyên về nâng vác, làm thế nào để ngồi đúng tư thế và các bài tập tăng cường cho lưng...
                                </p>
                                <a href="#"><i>Xem thêm...</i></a>
                            </div>
                        </div>
                    </div>
        
                    <!-- Pagination -->
                    <div class="w3-center w3-padding-32">
                        <div class="w3-bar">
                            <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
                            <a href="#" class="w3-bar-item w3-black w3-button">1</a>
                            <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
                            <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
                            <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
                            <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
                        </div>
                    </div>
                    <div class="w3-content">
                        <h1 style="text-align: center; font-size: 55px; margin-bottom: 100px; margin-top: 50px;">
                            Mẹo dân gian hay
                        </h1>
                        <div class="w3-row w3-margin">
        
                            <div class="w3-third">
                               <a href="#"> <img src="/images/haidm-tip7.jpg" style="width:100%;min-height:200px"></a>
                            </div>
                            <div class="w3-twothird w3-container">
                                <h2>Nên làm gì khi bị chó tấn công tránh nguy hại khôn lường?</h2>
                                <p>
                                    Hầu hết mọi người khi bị chó cắn đều lúng túng trong việc ứng phó, dẫn đến những hậu quả đáng tiếc.
                                </p>
                                <a href="#"><i>Xem thêm...</i></a>
                            </div>
        
                        </div>
                        <div class="w3-row w3-margin">
        
                            <div class="w3-third">
                                <a href="#"><img src="/images/haidm-tips8.jpg" style="width:100%;min-height:200px"></a>
                            </div>
                            <div class="w3-twothird w3-container">
                                <h2>Những việc nên làm để cải thiện sức khỏe trong mùa đông</h2>
                                <p>
                                    Thời tiết lạnh giá trong mùa đông là môi trường thuận lợi cho nhiều bệnh phát triển gây ảnh hưởng không nhỏ tới sức khỏe người dân. Cách tốt nhất để phòng bệnh là học cách tự chăm sóc bản thân. Dưới đây là những việc nên làm để cải thiện sức khỏe trong mùa đông:
                                    <br>...
                                </p>
                                <a href="#"><i>Xem thêm...</i></a>
                            </div>
        
                        </div>
                        <div class="w3-row w3-margin">
        
                            <div class="w3-third">
                                <a href="#"><img src="/images/haidm-tips9.jpg" style="width:100%;min-height:200px"></a>
                            </div>
                            <div class="w3-twothird w3-container">
                                <h2>Cấp cứu đuối nước, cần làm gì để tránh nguy cơ tử vong?</h2>
                                <p>
                                    Cứ mỗi dịp mùa hè đến, khi học sinh được nghỉ học, tình trạng trẻ em bị đuối nước lại có chiều hướng gia tăng. Nhiều vụ đuối nước do trẻ tắm ở ao, hồ, sông, suối không có sự giám sát của người lớn đã xảy ra một cách thương tâm.
                                </p>
                                <a href="#"><i>Xem thêm...</i></a>
                            </div>
        
                        </div>
                        <div class="w3-row w3-margin">
        
                            <div class="w3-third">
                                <a href="#"><img src="/images/haidm-tips10.jpg" style="width:100%;min-height:200px"></a>
                            </div>
                            <div class="w3-twothird w3-container">
                                <h2>Việc cần làm giúp mắt luôn tinh tường đơn giản hiệu quả</h2>
                                <p>
                                    Đôi mắt là cửa sổ tâm hồn, vì thế bảo vệ đôi mắt luôn được ưu tiên hàng đầu, trong đó, chế độ ăn uống và tập thể dục hàng ngày đóng góp một phần quan trọng vào việc bảo vệ đôi mắt.
                                    <br> Vậy những việc nào cần làm để giúp đôi mắt luôn tinh tường?
                                </p>
                                <a href="#"><i>Xem thêm...</i></a>
                            </div>
        
                        </div>
                    </div>
                    <!-- Pagination -->
                    <div class="w3-center w3-padding-32">
                        <div class="w3-bar">
                            <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
                            <a href="#" class="w3-bar-item w3-black w3-button">1</a>
                            <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
                            <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
                            <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
                            <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <%- include('footer') %>
        </footer>

        <!-- Custom JS library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <!-- End JS library -->

    </body>

</html>