<!DOCTYPE html>
<html lang="en">

<head>
    <title>Healthy Life News</title>

    <%- include('head') %>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

        <!-- Custom style -->
        <link rel="stylesheet" type="text/css" href="css/grid.css">
        <link rel="stylesheet" type="text/css" href="css/header.css">
        <link rel="stylesheet" type="text/css" href="css/footer.css">
        <link rel="stylesheet" type="text/css" href="css/haidm-page-news.css">

        <!-- End style -->
</head>

<body>

    <header>
        <%- include('header') %>
    </header>

    <main>
        <div class="main">
            <!-- Image header -->
            <div class="w3-display-container w3-wide">
                <img class="w3-image" src="/images/haidm-news-background.jpg" alt="" width="100%" height="1060">
                <div style="text-shadow: black 0.1em 0.1em 0.2em;" class="w3-display-left w3-padding-large">
                    <h1 class="w3-text-white">Thông tin</h1>
                    <h1 class="w3-jumbo w3-text-white w3-hide-small"><b>Sức khỏe</b></h1>
                    <h1 style="margin-top: 150px;" class="w3-text-white">Chia sẻ những thông tin <br> mới nhất về sức
                        khỏe.
                    </h1>
                </div>
            </div>
            <div style="margin-top: 50px;" class="container text-center">
                <h1>Tin vắn COVID</h1>
                <div class="row">
                    <div class="content-covid col-md-12">
                        <div class="col-sm-4">
                            <a href="#"> <img class="img-covid" src="/images/haidm-covid1.jpg" alt=""></a>
                            <a href="#">
                                <h3>Việt Nam nhập 1 triệu liều vaccine</h3>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="#"> <img class="img-covid" src="/images/haidm-covid2.jpeg" alt=""></a>
                            <a href="#">
                                <h3>Bé gái 1 tuổi cùng mẹ dương tính SARS-CoV-2</h3>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="#"> <img class="img-covid" src="/images/haidm-covid3.jpg" alt=""></a>
                            <a href="#">
                                <h3>Hình ảnh đoàn y tế Hải Phòng trước lúc lên đường chi viện TP.HCM</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container text-center">
                <h1>Sống khỏe mỗi ngày</h1>
                <div class="row">
                    <div class="content-daily col-md-12">
                        <div style="margin-right: 100px;" class="col-sm-4">
                            <a href="#"><img class="img-sex" src="/images/haidm-item-news10.jpg" alt=""></a>
                        </div>
                        <div class="col-sm-6">
                            <a href="#">
                                <h3>Niềng răng trong suốt chi phí hợp lý lại thẩm mỹ, giới trẻ gật gù: ’đúng ý!’</h3>
                            </a>
                            <span class="item-detail">Cải thiện nụ cười bằng phương pháp niềng răng trong suốt, Zenyum
                                đang
                                rất được lòng giới trẻ. Hiệu quả cao, chi phí hợp lý, đeo niềng nhưng vẫn đẹp… là những
                                lợi
                                điểm khiến phương pháp này được nhiệt tình “thả tim”.</span>
                            <br>
                            <a href="#"><i>Xem thêm...</i></a>
                        </div>
                    </div>
                    <div class="content-daily col-md-12">
                        <div class="col-sm-6">
                            <a href="#">
                                <h3>Súc họng sát khuẩn - liệu pháp tại chỗ trong hỗ trợ điều trị viêm họng</h3>
                            </a>
                            <span class="item-detail">Viêm họng là bệnh lý rất dễ gặp ở mọi lứa tuổi. Khi mắc bệnh, cổ
                                họng
                                sẽ xuất hiện cảm giác đau rát, khó chịu và nếu không chữa trị kịp thời có thể biến chứng
                                thành viêm phế quản, viêm phổi.</span>
                            <br>
                            <a href="#"><i>Xem thêm...</i></a>
                        </div>
                        <div style="margin-left: 100px;" class="col-sm-4">
                            <a href="#"><img class="img-sex" src="/images/haidm-item-news11.jpg" alt=""></a>
                        </div>

                    </div>

                </div>
                <!-- Pagination -->
                <div class="w3-center w3-padding-32">
                    <div class="w3-bar">
                        <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
                        <a href="#" class="w3-bar-item w3-black w3-button">1</a>
                        <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
                        <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
                        <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
                        <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
                    </div>
                </div>
            </div>
            <div class="container text-center">
                <h1>Làm đẹp</h1>
                <div class="row">
                    <div class="content-beauty col-md-12">
                        <div class="item col-sm-6">
                            <figure>
                                <a href="#"><img class="img-beauty" src="/images/haidm-item-new1.jpg" alt=""></a>
                                <figcaption>
                                    <h3>Cẩm nang nâng mũi ở nam giới lời khuyên từ Ths.Bs Nguyễn Tiến Huy Saigon Venus
                                    </h3>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="item col-sm-6">
                            <figure>
                                <a href="#"><img class="img-beauty" src="/images/haidm-item-news2.jpg" alt=""></a>
                                <figcaption>
                                    <h3>Review top 10+ kem trị nám, tàn nhang, đồi mồi được mua nhiều hiện nay</h3>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="content-beauty col-md-12">
                        <div class="item col-sm-6">
                            <figure>
                                <a href="#"><img class="img-beauty" src="/images/haidm-item-news3.jpg" alt=""></a>
                                <figcaption>
                                    <h3>Sau khi phẫu thuật thẩm mỹ mũi nên làm gì?</h3>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="item col-sm-6">
                            <figure>
                                <a href="#"><img class="img-beauty" src="/images/haidm-item-news4.jpg" alt=""></a>
                                <figcaption>
                                    <h3>Cô giáo hotgirl từng làm dân mạng Việt phát sốt, ở nhà chụp hình cũng trông gợi
                                        cảm
                                        hết nấc </h3>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="content-beauty col-md-12">
                        <div class="item col-sm-6">
                            <figure>
                                <a href="#"><img class="img-beauty" src="/images/haidm-item-news5.jpg" alt=""></a>
                                <figcaption>
                                    <h3>Trị nám bằng lá tía tô ngay tại nhà: vừa đơn giản, dễ thực hiện lại chẳng tốn
                                        mấy
                                        đồng</h3>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="item col-sm-6">
                            <figure>
                                <a href="#"><img class="img-beauty" src="/images/haidm-item-news6.jpg" alt=""></a>
                                <figcaption>
                                    <h3>Nữ MC 9X khoe đường cong mỹ miều trên sóng, cộng đồng mạng được dịp tha hồ "thả
                                        tim"
                                    </h3>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pagination -->
        <div class="w3-center w3-padding-32">
            <div class="w3-bar">
                <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
                <a href="#" class="w3-bar-item w3-black w3-button">1</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
            </div>
        </div>
        <div class="container text-center">
            <h1>Sức khỏe giới tính</h1>
            <div class="row">
                <div class="content-sex col-md-12">
                    <div style="margin-right: 100px;" class="col-sm-4">
                        <a href="#"><img class="img-sex" src="/images/haidm-item-news7.jpg" alt=""></a>
                    </div>
                    <div class="col-sm-6">
                        <a href="#">
                            <h3>Đàn ông đang muốn có con chớ nên uống rượu bia</h3>
                        </a>
                        <span class="item-detail">Đàn ông khi đang muốn có con thì không nên uống rượu bia. Một nghiên cứu
                            mới đây phát hiện đàn ông uống rượu bia có thể làm tăng nguy cơ đứa bé sinh ra bị dị tật bẩm
                            sinh, chẳng hạn như sứt môi.</span>
                        <br>
                        <a href="#"><i>Xem thêm...</i></a>
                    </div>
                </div>
                <div class="content-sex col-md-12">
                    <div style="margin-right: 100px;" class="col-sm-4">
                        <a href="#"><img class="img-sex" src="/images/haidm-item-news8.jpg" alt=""></a>
                    </div>
                    <div class="col-sm-6">
                        <a href="#">
                            <h3>Phát hiện mới: Nam giới 'mạnh mẽ' sẽ chống Covid-19 mạnh mẽ hơn</h3>
                        </a>
                        <span class="item-detail">Một nghiên cứu mới từ Trường Y Đại học Washington ở St. Louis (Mỹ), cho
                            thấy rằng nam giới có mức hoóc môn nam tính testosterone trong máu thấp, dễ mắc Covid-19 nặng
                            hơn, theo Scietechdaily.</span>
                        <br>
                        <a href="#"><i>Xem thêm...</i></a>
                    </div>
                </div>
                <div class="content-sex col-md-12">
                    <div style="margin-right: 100px;" class="col-sm-4">
                        <a href="#"><img class="img-sex" src="/images/haidm-item-news9.jpg" alt=""></a>
                    </div>
                    <div class="col-sm-6">
                        <a href="#">
                            <h3>Phần lớn các cặp vợ chồng sẽ khó thụ thai tự nhiên vào năm 2045?</h3>
                        </a>
                        <span class="item-detail">Một trong những chuyên gia hàng đầu về sức khỏe cộng đồng của Mỹ mới đây
                            cảnh báo đến năm 2045, phần lớn cặp vợ chồng sẽ gặp vấn đề về sinh sản. Muốn có con, họ cần phải
                            dùng đến các phương pháp hỗ trợ sinh sản.</span>
                        <br>
                        <a href="#"><i>Xem thêm...</i></a>
                    </div>
                </div>
            </div>
            <!-- Pagination -->
            <div class="w3-center w3-padding-32">
                <div class="w3-bar">
                    <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
                    <a href="#" class="w3-bar-item w3-black w3-button">1</a>
                    <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
                    <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
                    <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
                    <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
                </div>
            </div>
        </div>   
    </main>

    <footer>
        <%- include('footer') %>
    </footer>

    <!-- Custom JS library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- End JS library -->

</body>

</html>