<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Healthy Life F4-Team</title>

        <%- include('head') %>
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

            <!-- Custom style -->
            <link rel="stylesheet" type="text/css" href="css/grid.css">
            <link rel="stylesheet" type="text/css" href="css/header.css">
            <link rel="stylesheet" type="text/css" href="css/footer.css">
            <link rel="stylesheet" type="text/css" href="css/haidm-index.css">

            <!-- End style -->
    </head>

    <body>

        <header>
            <%- include('header')%>
        </header>

        <main>
            <div class="main">
                <div class="row">

                    <!-- Image header -->
                    <header class="w3-display-container w3-wide">
                        <img class="w3-image" src="images/haidm-index-background.jpg" alt="" width="100%" height="1060">
                        <div class="w3-half">
                            <div style="margin-top: 150px;" class="w3-display-topleft w3-padding-large">
                                <h1 class="w3-jumbo w3-text-white w3-hide-small"><b>Healthy Life </b></h1>
                                <h1 style="margin-top: 150px;" class="w3-text-white w3-animate-left">NOTHING tastes <br>
                                    as <u>GOOD</u> as <br>
                                    HEALTHY feels !</h1>
                            </div>
                        </div>

                        <div>
                            <div class="img-index">
                                <div class="w3-display-right ">
                                    <div class="w3-row-padding">
                                        <div class="w3-col s5">
                                            <div class="img-category-news">
                                                <a href="/haidm-page-news.html">
                                                    <img src="images/haidm-index-category-news.png" alt="">
                                                </a>
                                                <h2>News</h2>
                                            </div>

                                        </div>
                                        <div class="w3-col s5">
                                            <div class="img-category-tips">
                                                <a href="/haidm-page-tips.html">
                                                    <img src="images/haidm-index-category-tips.png" alt="">
                                                </a>
                                                <h2>Tips</h2>
                                            </div>
                                        </div>
                                        <div class="w3-col s5">
                                            <div class="img-category-thuoc">
                                                <a href="/haidm-page-thuoc.html">
                                                    <img class="img-category-thuoc"
                                                        src="images/haidm-index-category-thuoc.png" alt="">
                                                </a>
                                                <h2>Functional Foods</h2>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                    </header>
                </div>
            </div>
        </main>

        <footer>
            <%- include('footer') %>
        </footer>

        <!-- Custom JS library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/js/uikit-icons.min.js"></script>
        <!-- End JS library -->

    </body>

</html>