<!DOCTYPE html>
<html lang="en">

    <head>
        <title>BNGW project F4-Team</title>

        <%- include('head') %>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/css/uikit.min.css" />
            <link href="https://fonts.googleapis.com/css?family=Oregano:regular,italic" rel="stylesheet" />
            <link rel="stylesheet" href="css/owl.carousel.min.css">
            <link rel="stylesheet" href="css/owl.theme.default.min.css">
            <link rel="stylesheet" href="css/home.css">
            <!-- Custom style -->

            <!-- End style -->
    </head>

    <body>

        <header>
            <%- include('header')%>
        </header>

        <main>
            <%- include('slider') %>
                <div class="grid" style="padding: 50px 0;">
                    <div class="row">
                        <div class="col text-center">
                            <h1 class="l-12" style="font-family: 'Oregano';">Why people need a Health Coach</h1>
                            <h2 class="l-12" style="color: green;"><i class="fas fa-leaf fa-lg"></i></h2>
                        </div>
                    </div>
                    <div class="row"
                        uk-scrollspy="cls: uk-animation-slide-bottom; target: .uk-card; delay: 300; repeat: false">
                        <div class="col l-3 md-6 c-12 text-center uk-card uk-card-default uk-card-body">
                            <img src="images/custom-icon-1.png" alt="">
                            <h4><b>Balance Body & Mind</b></h4>
                            <p>Lorem ipsum dolor sit amet, et fermentum vestibulum etiam luctus et, mi ornare, aptent
                                neque.</p>
                        </div>
                        <div class="col l-3 md-6 c-12 text-center uk-card uk-card-default uk-card-body">
                            <img src="images/custom-icon-2.png" alt="">
                            <h4><b>Healthy Daily Life</b></h4>
                            <p>Lorem ipsum dolor sit amet, et fermentum vestibulum etiam luctus et, mi ornare, aptent
                                neque.</p>
                        </div>
                        <div class="col l-3 md-6 c-12 text-center uk-card uk-card-default uk-card-body">
                            <img src="images/custom-icon-3.png" alt="">
                            <h4><b>Nutrition Strategies</b></h4>
                            <p>Lorem ipsum dolor sit amet, et fermentum vestibulum etiam luctus et, mi ornare, aptent
                                neque.</p>
                        </div>
                        <div class="col l-3 md-6 c-12 text-center uk-card uk-card-default uk-card-body">
                            <img src="images/custom-icon-4.png" alt="">
                            <h4><b>Workout Routines</b></h4>
                            <p>Lorem ipsum dolor sit amet, et fermentum vestibulum etiam luctus et, mi ornare, aptent
                                neque.</p>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 50px;">
                        <div class="col text-center">
                            <p>I am delighted to be able to share with you the techniques I have learnt over the years
                                that have brought me much happiness and success.</p>
                        </div>
                    </div>
                </div>
                <div class="grid" style="background-color: #FAFAFA;padding: 50px 0;">
                    <div class="grid wide">
                        <div class="row">
                            <div class="col text-center">
                                <h1 class="l-12" style="font-family: 'Oregano';">Do not wait for Tomorrow!</h1>
                                <h2 class="l-12" style="color: green;"><i class="fas fa-leaf fa-lg"></i></h2>
                                <h2>Your Healthy Choices</h2>
                                <p>Lorem ipsum dolor sit amet facilisis sed vitae lorem pede at eu arcu vulputate metus
                                    luctus ut quis vivamus vitae id habitasse et morbi</p>
                            </div>
                        </div>
                        <div class="owl-carousel owl-theme slide-cards">
                            <div class="item text-center uk-card uk-card-default">
                                <img src="images/portfolio-image-5-800x600.jpg" alt="">
                                <div class="slide-card-content">
                                    <div class="slide-card-icon">
                                        <img src="images/portfolio-custom-icon-1-1.png" alt="">
                                    </div>
                                    <h4><a href="#"><b>Making Fruit Your Desert</b></a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat dictum l
                                    </p>
                                </div>
                            </div>
                            <div class="item text-center uk-card uk-card-default">
                                <img src="images/portfolio-image-16-800x600.jpg" alt="">
                                <div class="slide-card-content">
                                    <div class="slide-card-icon">
                                        <img src="images/portfolio-custom-icon-2.png" alt="">
                                    </div>
                                    <h4><a href="#"><b>Habits for Longer Life</b></a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat dictum l
                                    </p>
                                </div>
                            </div>
                            <div class="item text-center uk-card uk-card-default">
                                <img src="images/portfolio-image-17-800x600.jpg" alt="">
                                <div class="slide-card-content">
                                    <div class="slide-card-icon">
                                        <img src="images/portfolio-custom-icon-3-2.png" alt="">
                                    </div>
                                    <h4><a href="#"><b>Physical Activity</b></a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat dictum l
                                    </p>
                                </div>
                            </div>
                            <div class="item text-center uk-card uk-card-default">
                                <img src="images/portfolio-image-3-800x600.jpg" alt="">
                                <div class="slide-card-content">
                                    <div class="slide-card-icon">
                                        <img src="images/portfolio-custom-icon-4.png" alt="">
                                    </div>
                                    <h4><a href="#"><b>Physical Activity</b></a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat dictum l
                                    </p>
                                </div>
                            </div>
                            <div class="item text-center uk-card uk-card-default">
                                <img src="images/portfolio-image-7-800x600.jpg" alt="">
                                <div class="slide-card-content">
                                    <div class="slide-card-icon">
                                        <img src="images/portfolio-custom-icon-5.png" alt="">
                                    </div>
                                    <h4><a href="#"><b>Physical Activity</b></a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat dictum l
                                    </p>
                                </div>
                            </div>
                            <div class="item text-center uk-card uk-card-default">
                                <img src="images/portfolio-image-8-800x600.jpg" alt="">
                                <div class="slide-card-content">
                                    <div class="slide-card-icon">
                                        <img src="images/portfolio-custom-icon-6.png" alt="">
                                    </div>
                                    <h4><a href="#"><b>Physical Activity</b></a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat dictum l
                                    </p>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
        </main>

        <footer>
            <%- include('footer') %>
        </footer>

        <!-- Custom JS library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/js/uikit-icons.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <!-- End JS library -->
        <script>
            $('.owl-carousel').owlCarousel({
                loop: false,
                margin: 24,
                nav: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    1000: {
                        items: 3
                    }
                }
            })
        </script>
    </body>

</html>