<!DOCTYPE html>
<html lang="en">

    <head>
        <title>BNGW project F4-Team</title>

        <%- include('head') %>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/css/uikit.min.css" />
            <link href="https://fonts.googleapis.com/css?family=Oregano:regular,italic" rel="stylesheet" />
            <link rel="stylesheet" href="css/owl.carousel.min.css">
            <link rel="stylesheet" href="css/owl.theme.default.min.css">
            <link rel="stylesheet" href="css/home.css">
            <!-- Custom style -->

            <!-- End style -->
    </head>

    <body>

        <header>
            <%- include('header')%>
        </header>

        <main>
            <%- include('slider') %>
                <div class="grid" style="padding: 50px 0;">
                    <div class="row">
                        <div class="col text-center">
                            <h1 class="l-12" style="font-family: 'Oregano';font-size: 55px;">Why people need a Health
                                Coach</h1>
                            <h2 class="l-12" style="color: green;"><i class="fas fa-leaf fa-lg"></i></h2>
                        </div>
                    </div>
                    <div class="row"
                        uk-scrollspy="cls: uk-animation-slide-top; target: .uk-card; delay: 300; repeat: true">
                        <div class="col l-3 md-6 c-12 text-center uk-card uk-card-default uk-card-body">
                            <img src="images/custom-icon-1.png" alt="">
                            <h4><b>Balance Body & Mind</b></h4>
                            <p>Lorem ipsum dolor sit amet, et fermentum vestibulum etiam luctus et, mi ornare, aptent
                                neque.</p>
                        </div>
                        <div class="col l-3 md-6 c-12 text-center uk-card uk-card-default uk-card-body">
                            <img src="images/custom-icon-2.png" alt="">
                            <h4><b>Healthy Daily Life</b></h4>
                            <p>Lorem ipsum dolor sit amet, et fermentum vestibulum etiam luctus et, mi ornare, aptent
                                neque.</p>
                        </div>
                        <div class="col l-3 md-6 c-12 text-center uk-card uk-card-default uk-card-body">
                            <img src="images/custom-icon-3.png" alt="">
                            <h4><b>Nutrition Strategies</b></h4>
                            <p>Lorem ipsum dolor sit amet, et fermentum vestibulum etiam luctus et, mi ornare, aptent
                                neque.</p>
                        </div>
                        <div class="col l-3 md-6 c-12 text-center uk-card uk-card-default uk-card-body">
                            <img src="images/custom-icon-4.png" alt="">
                            <h4><b>Workout Routines</b></h4>
                            <p>Lorem ipsum dolor sit amet, et fermentum vestibulum etiam luctus et, mi ornare, aptent
                                neque.</p>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 50px;">
                        <div class="col text-center">
                        </div>
                    </div>
                </div>
                <div class="grid" style="background-color: #FAFAFA;padding: 50px 0;">
                    <div class="grid wide">
                        <div class="row">
                            <div class="col text-center">
                                <h1 class="l-12" style="font-family: 'Oregano';font-size: 55px;">Do not wait for
                                    Tomorrow!</h1>
                                <h2 class="l-12" style="color: green;"><i class="fas fa-leaf fa-lg"></i></h2>
                                <h2>Your Healthy Choices</h2>
                                <p>Lorem ipsum dolor sit amet facilisis sed vitae lorem pede at eu arcu vulputate metus
                                    luctus ut quis vivamus vitae id habitasse et morbi</p>
                            </div>
                        </div>
                        <div class="owl-carousel owl-theme slide-cards">
                            <div class="item text-center uk-card uk-card-default">
                                <img src="images/portfolio-image-5-800x600.jpg" alt="">
                                <div class="slide-card-content">
                                    <div class="slide-card-icon">
                                        <img src="images/portfolio-custom-icon-1-1.png" alt="">
                                    </div>
                                    <h4><a href="#"><b>Making Fruit Your Desert</b></a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat dictum l
                                    </p>
                                </div>
                            </div>
                            <div class="item text-center uk-card uk-card-default">
                                <img src="images/portfolio-image-16-800x600.jpg" alt="">
                                <div class="slide-card-content">
                                    <div class="slide-card-icon">
                                        <img src="images/portfolio-custom-icon-2.png" alt="">
                                    </div>
                                    <h4><a href="#"><b>Habits for Longer Life</b></a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat dictum l
                                    </p>
                                </div>
                            </div>
                            <div class="item text-center uk-card uk-card-default">
                                <img src="images/portfolio-image-17-800x600.jpg" alt="">
                                <div class="slide-card-content">
                                    <div class="slide-card-icon">
                                        <img src="images/portfolio-custom-icon-3-2.png" alt="">
                                    </div>
                                    <h4><a href="#"><b>Physical Activity</b></a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat dictum l
                                    </p>
                                </div>
                            </div>
                            <div class="item text-center uk-card uk-card-default">
                                <img src="images/portfolio-image-3-800x600.jpg" alt="">
                                <div class="slide-card-content">
                                    <div class="slide-card-icon">
                                        <img src="images/portfolio-custom-icon-4.png" alt="">
                                    </div>
                                    <h4><a href="#"><b>Getting Healthy</b></a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat dictum l
                                    </p>
                                </div>
                            </div>
                            <div class="item text-center uk-card uk-card-default">
                                <img src="images/portfolio-image-7-800x600.jpg" alt="">
                                <div class="slide-card-content">
                                    <div class="slide-card-icon">
                                        <img src="images/portfolio-custom-icon-5.png" alt="">
                                    </div>
                                    <h4><a href="#"><b>Better Immune System</b></a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat dictum l
                                    </p>
                                </div>
                            </div>
                            <div class="item text-center uk-card uk-card-default">
                                <img src="images/portfolio-image-8-800x600.jpg" alt="">
                                <div class="slide-card-content">
                                    <div class="slide-card-icon">
                                        <img src="images/portfolio-custom-icon-6.png" alt="">
                                    </div>
                                    <h4><a href="#"><b>Cheap Low-Carb Options</b></a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat dictum l
                                    </p>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
                <div class="grid bgimg-1">
                    <div class="grid wide">
                        <div class="row">
                            <div class="col l-6 md-12 c-12">
                                <h1 class="l-12" style="font-family: 'Oregano';color: white;font-size: 55px;">3 months
                                    with a Health Coach</h1>
                                <p>Start working on your body today, and with our individual fitness program, already
                                    in 90 days you will see a totally different girl in the mirror!
                                </p>
                                <a href="#">More info</a>
                            </div>
                            <div class="col l-6 md-0 c-0"></div>
                        </div>
                    </div>
                </div>
                <div class="grid wide" style="padding: 50px 0;">
                    <div class="row">
                        <div class="col text-center">
                            <h1 class="l-12" style="font-family: 'Oregano';font-size: 55px;">News and Articles</h1>
                            <h2 class="l-12" style="color: green;"><i class="fas fa-leaf fa-lg"></i></h2>
                        </div>
                    </div>
                    <div class="row no-gutters"
                        uk-scrollspy="cls: uk-animation-slide-left; target: .uk-card; delay: 300; repeat: false"
                        style="padding: 24px 0;">
                        <div class="tab col l-3 md-2 c-12 uk-card">
                            <button class="tablinks" onclick="openCity(event, 'tipTab1')" id="defaultOpen">Get up and
                                Go</button>
                            <button class="tablinks" onclick="openCity(event, 'tipTab2')">Dare To Be Great</button>
                            <button class="tablinks" onclick="openCity(event, 'tipTab3')">Grown by Nature </button>
                            <button class="tablinks" onclick="openCity(event, 'tipTab4')">Best Fitness Foods </button>
                            <button class="tablinks" onclick="openCity(event, 'tipTab5')">Ways to Get Motivated
                            </button>
                            <button class="tablinks" onclick="openCity(event, 'tipTab6')">Healthy Snacks </button>
                        </div>
                        <div id="tipTab1" class="tabcontent l-9 md-10 c-12"
                            style="background-image: url('images/tab-background-1.jpg');">
                            <h1>Eat Good. Feel Good.</h1>
                            <p>Lorem ipsum dolor sit amet auctor egestas libero arcu. Wisi ante at. Mi pulvinar officiis
                                neque odio magna aliquet pede morbi erat.</p>
                            <ul>
                                <li><i class="fas fa-check"></i>
                                    <p> Healthy Desserts Shockingly High in Protein.</p>
                                </li>
                                <li><i class="fas fa-check"></i>
                                    <p> A natural way of improving your health.</p>
                                </li>
                                <li><i class="fas fa-check"></i>
                                    <p> Train Yourself to Exercise in the Morning in Just One Week.</p>
                                </li>
                                <li><i class="fas fa-check"></i>
                                    <p> Enhancing the personal healing experience.</p>
                                </li>
                                <li><i class="fas fa-check"></i>
                                    <p> A Whole New Way to Take Your Vitamins.</p>
                                </li>
                                <li><i class="fas fa-check"></i>
                                    <p> Smoothie Recipes Loaded with Winter Superfoods.</p>
                                </li>
                            </ul>
                        </div>

                        <div id="tipTab2" class="tabcontent l-9 md-10 c-12"
                            style="background-image: url('images/tab-background-2.jpg');">
                            <h1>Warm Winter Desserts</h1>
                            <p>Quis et nec parturient in cursus at placerat amet integer et id. Dolor habitant metus.
                                Enim eu praesent primis quam quis ante laoreet diam sit.</p>
                            <ul>
                                <li><i class="fas fa-check"></i>
                                    <p>Train Yourself to Exercise in the Morning in Just One Week.</p>
                                </li>
                                <li><i class="fas fa-check"></i>
                                    <p>Enhancing the personal healing experience.</p>
                                </li>
                                <li><i class="fas fa-check"></i>
                                    <p>A Whole New Way to Take Your Vitamins.</p>
                                </li>
                                <li><i class="fas fa-check"></i>
                                    <p>Smoothie Recipes Loaded with Winter Superfoods.</p>
                                </li>
                                <li><i class="fas fa-check"></i>
                                    <p>Healthy Desserts Shockingly High in Protein.</p>
                                </li>
                                <li><i class="fas fa-check"></i>
                                    <p>A natural way of improving your health.</p>
                                </li>
                            </ul>
                        </div>

                        <div id="tipTab3" class="tabcontent l-9 md-10 c-12"
                            style="background-image: url('images/tab-background-5.jpg');">
                            <h1>Healthy and Delicious Recipes</h1>
                            <p>Odio etiam vivamus convallis fusce tortor. Parturient et mi libero luctus habitant
                                pretium venenatis morbi. Sollicitudin tincidunt rhoncus amet.</p>
                            <ul>
                                <li><i class="fas fa-check"></i>
                                    <p>Enhancing the personal healing experience.</p>
                                </li>
                                <li><i class="fas fa-check"></i>
                                    <p>A Whole New Way to Take Your Vitamins.</p>
                                </li>
                                <li><i class="fas fa-check"></i>
                                    <p>Smoothie Recipes Loaded with Winter Superfoods.</p>
                                </li>
                                <li><i class="fas fa-check"></i>
                                    <p>Healthy Desserts Shockingly High in Protein.</p>
                                </li>
                                <li><i class="fas fa-check"></i>
                                    <p>Train Yourself to Exercise in the Morning in Just One Week.</p>
                                </li>
                                <li><i class="fas fa-check"></i>
                                    <p>A natural way of improving your health.</p>
                                </li>
                            </ul>
                        </div>
                        <div id="tipTab4" class="tabcontent l-9 md-10 c-12"
                            style="background-image: url('images/tab-background-6.jpg');">
                            <h1>Workout Excuses Busted</h1>
                            <p>Felis vitae dui facilisis sem malesuada. Etiam lectus fringilla. Metus sit lorem mi vel
                                nunc dolor ipsum amet neque fringilla con. Et porta amet vestibulum.</p>
                            <ul>
                                <li><i class="fas fa-check"></i>
                                    <p>A Whole New Way to Take Your Vitamins.</p>
                                </li>
                                <li><i class="fas fa-check"></i>
                                    <p>Smoothie Recipes Loaded with Winter Superfoods.</p>
                                </li>
                                <li><i class="fas fa-check"></i>
                                    <p>Healthy Desserts Shockingly High in Protein.</p>
                                </li>
                                <li><i class="fas fa-check"></i>
                                    <p>A natural way of improving your health.</p>
                                </li>
                                <li><i class="fas fa-check"></i>
                                    <p>Enhancing the personal healing experience.</p>
                                </li>
                                <li><i class="fas fa-check"></i>
                                    <p>Train Yourself to Exercise in the Morning in Just One Week.</p>
                                </li>
                            </ul>
                        </div>
                        <div id="tipTab5" class="tabcontent l-9 md-10 c-12"
                            style="background-image: url('images/tab-background-4.jpg');">
                            <h1>Running to the Future</h1>
                            <p>Et diam tellus nullam dui gravida. Aliquam posuere sollicitudin eros sed mi. Leo sit sit
                                sollicitudin wisi pellentesque aliquam quisque et accumsan.</p>
                            <ul>
                                <li><i class="fas fa-check"></i>
                                    <p>Enhancing the personal healing experience.</p>
                                </li>
                                <li><i class="fas fa-check"></i>
                                    <p>Healthy Desserts Shockingly High in Protein.</p>
                                </li>
                                <li><i class="fas fa-check"></i>
                                    <p>Smoothie Recipes Loaded with Winter Superfoods.</p>
                                </li>
                                <li><i class="fas fa-check"></i>
                                    <p>Train Yourself to Exercise in the Morning in Just One Week.</p>
                                </li>
                                <li><i class="fas fa-check"></i>
                                    <p>A natural way of improving your health.</p>
                                </li>
                                <li><i class="fas fa-check"></i>
                                    <p>A Whole New Way to Take Your Vitamins.</p>
                                </li>
                            </ul>
                        </div>
                        <div id="tipTab6" class="tabcontent l-9 md-10 c-12"
                            style="background-image: url('images/tab-background-8.jpg');">
                            <h1>Creating Healthier Live</h1>
                            <p>Non at arcu nonummy tristique tortor. Sed quisque pellentesque. Posuere sapien quam
                                accumsan nullam ut. Molestie dui quisque fringilla.</p>
                            <ul>
                                <li><i class="fas fa-check"></i>
                                    <p>Healthy Desserts Shockingly High in Protein.</p>
                                </li>
                                <li><i class="fas fa-check"></i>
                                    <p>A natural way of improving your health.</p>
                                </li>
                                <li><i class="fas fa-check"></i>
                                    <p>Train Yourself to Exercise in the Morning in Just One Week.</p>
                                </li>
                                <li><i class="fas fa-check"></i>
                                    <p>Enhancing the personal healing experience.</p>
                                </li>
                                <li><i class="fas fa-check"></i>
                                    <p>A Whole New Way to Take Your Vitamins.</p>
                                </li>
                                <li><i class="fas fa-check"></i>
                                    <p>Smoothie Recipes Loaded with Winter Superfoods.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row articles-cards"
                        uk-scrollspy="cls: uk-animation-fade; target: .uk-card; delay: 300; repeat: true">
                        <div class="col l-4 md-4 c-12">
                            <div class="item text-center uk-card uk-card-default">
                                <img src="images/hc_31.jpg" alt="">
                                <div class="article-card-content">
                                    <div class="article-card-icon">
                                        <i class="far fa-newspaper fa-lg"></i>
                                    </div>
                                    <h4><a href="#"><b>8 Most Underrated Workouts</b></a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat dictum l
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col l-4 md-4 c-12">
                            <div class="item text-center uk-card uk-card-default">
                                <img src="images/hc_4.jpg" alt="">
                                <div class="article-card-content">
                                    <div class="article-card-icon">
                                        <i class="far fa-newspaper fa-lg"></i>
                                    </div>
                                    <h4><a href="#"><b>Underestimating workout music</b></a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat dictum l
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col l-4 md-4 c-12">
                            <div class="item text-center uk-card uk-card-default">
                                <img src="images/hc_6.jpg" alt="">
                                <div class="article-card-content">
                                    <div class="article-card-icon">
                                        <i class="far fa-newspaper fa-lg"></i>
                                    </div>
                                    <h4><a href="#"><b>Mistakes fighting with cellulitis</b></a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat dictum l
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row articles-cards"
                        uk-scrollspy="cls: uk-animation-fade; target: .uk-card; delay: 300; repeat: true">
                        <div class="col l-4 md-4 c-12">
                            <div class="item text-center uk-card uk-card-default">
                                <img src="images/ac1.jpg" alt="">
                                <div class="article-card-content">
                                    <div class="article-card-icon">
                                        <i class="fas fa-photo-video fa-lg"></i>
                                    </div>
                                    <h4><a href="#"><b>Eating breakfast cuts inches off?</b></a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat dictum l
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col l-4 md-4 c-12">
                            <div class="item text-center uk-card uk-card-default">
                                <img src="images/ac2.jpg" alt="">
                                <div class="article-card-content">
                                    <div class="article-card-icon">
                                        <i class="fas fa-photo-video fa-lg"></i>
                                    </div>
                                    <h4><a href="#"><b>What secrets almonds hide</b></a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat dictum l
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col l-4 md-4 c-12">
                            <div class="item text-center uk-card uk-card-default">
                                <img src="images/ac3.jpg" alt="">
                                <div class="article-card-content">
                                    <div class="article-card-icon">
                                        <i class="fas fa-photo-video fa-lg"></i>
                                    </div>
                                    <h4><a href="#"><b>Ginger is not just simple food</b></a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat dictum l
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="grid bgimg-2">
                    <div class="grid wide"
                        style="height: 700px;display: flex;flex-flow: column;justify-content: space-around;">
                        <div class="row">
                            <div class="col l-12 text-center">
                                <h1 class="l-12" style="color: white;font-size: 55px;">Certified Health Professional
                                </h1>
                                <p>Start working on your body today, and with our individual fitness program, already
                                    in 90 days you will see a totally different girl in the mirror!
                                </p>
                                <a href="#">More info</a>
                            </div>
                            <hr>
                        </div>
                        <div class="row text-center">
                            <div class="col l-3 md-6 c-12">
                                <h4><b>Balance Body & Mind</b></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat dictum lacus,
                                    ut hendrerit</p>
                            </div>
                            <div class="col l-3 md-6 c-12">
                                <h4><b>Healthy Daily Life</b></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat dictum lacus,
                                    ut hendrerit</p>
                            </div>
                            <div class="col l-3 md-6 c-12">
                                <h4><b>Nutrition Strategies</b></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat dictum lacus,
                                    ut hendrerit</p>
                            </div>
                            <div class="col l-3 md-6 c-12">
                                <h4><b>Workout Routines</b></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat dictum lacus,
                                    ut hendrerit</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid wide" style="padding: 24px 0;">
                    <div class="row">
                        <div class="col text-center">
                            <h1><b>Process Body Boot</b></h1>
                            <p>Lorem ipsum dolor sit amet facilisis sed vitae lorem pede at eu arcu vulputate metus
                                luctus ut quis vivamus vitae id habitasse et morbi</p>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 24px;align-items: center;">
                        <div class="col l-3 md-6 c-12 text-center">
                            <img src="images/process-1.png"
                                style="border-radius:50%; padding: 10px; border: 1px dashed #e2e2e2;" alt="">
                            <h4><b>Connect</b></h4>
                            <p>Lorem ipsum dolor sit amet, et fermentum vestibulum</p>
                        </div>
                        <div class="col l-3 md-6 c-12 text-center">
                            <img src="images/process-2.png"
                                style="border-radius:50%; padding: 10px; border: 1px dashed #e2e2e2;" alt="">
                            <h4><b>Go Natural</b></h4>
                            <p>Lorem ipsum dolor sit amet, et fermentum vestibulum</p>
                        </div>
                        <div class="col l-3 md-6 c-12 text-center">
                            <img src="images/process-3.png"
                                style="border-radius:50%; padding: 10px; border: 1px dashed #e2e2e2;" alt="">
                            <h4><b>Schedule Exercise</b></h4>
                            <p>Lorem ipsum dolor sit amet, et fermentum vestibulum</p>
                        </div>
                        <div class="col l-3 md-6 c-12 text-center">
                            <img src="images/process-4.png"
                                style="border-radius:50%; padding: 10px; border: 1px dashed #e2e2e2;" alt="">
                            <h4><b>Celebrate Success</b></h4>
                            <p>Lorem ipsum dolor sit amet, et fermentum vestibulum</p>
                        </div>
                    </div>
                </div>
                <div class="grid wide" style="min-height: 960px;">

                    <div class="row">
                        <div class="col text-center">
                            <h1><b>Classes Timetable</b></h1>
                            <h3>Join our classes to improve your health and your life.</h3>
                        </div>
                    </div>


                    <ul id="myBtnContainer" class="nav nav-tabs nav-justified" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" onclick="filterSelection('all')"> All Event</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" onclick="filterSelection('nutrition')"> Nutrition</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" onclick="filterSelection('workout')"> Workout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" onclick="filterSelection('stretching')">
                                Stretching</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" onclick="filterSelection('relaxing')"> Dance &
                                Relax</a>
                        </li>
                    </ul>
                    <div class="table-responsive text-center">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 9%">#</th>
                                    <th style="width: 13%">Mon</th>
                                    <th style="width: 13%">Tue</th>
                                    <th style="width: 13%">Wed</th>
                                    <th style="width: 13%">Thu</th>
                                    <th style="width: 13%">Fri</th>
                                    <th style="width: 13%">Sat</th>
                                    <th style="width: 13%">Sun</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="align-middle"><b>10:00</b></td>
                                    <td>
                                        <p class="filterDiv text-center nutrition text-secondary"><b>Body Balance</b>
                                        </p>
                                        <p class="filterDiv text-center nutrition text-secondary">10:00 - 11:00</p>
                                        <p class="filterDiv text-center nutrition text-secondary"><b>Tim Simpson</b></p>
                                    </td>
                                    <td>
                                        <p class="filterDiv text-center text-success relaxing"><b>Zumba</b></p>
                                        <p class="filterDiv text-center text-success relaxing">10:00 - 11:00</p>
                                        <p class="filterDiv text-center text-success relaxing"><b>Olivia Hall</b></p>
                                    </td>
                                    <td>
                                        <p class="filterDiv text-center text-danger relaxing workout"><b>Power Dance</b>
                                        </p>
                                        <p class="filterDiv text-center text-danger relaxing workout">10:00 - 11:00</p>
                                        <p class="filterDiv text-center text-danger relaxing workout"><b>Shirley
                                                Young</b></p>
                                    </td>
                                    <td></td>
                                    <td>
                                        <p class="filterDiv text-center text-danger relaxing workout"><b>Power Dance</b>
                                        </p>
                                        <p class="filterDiv text-center text-danger relaxing workout">10:00 - 11:00</p>
                                        <p class="filterDiv text-center text-danger relaxing workout"><b>Shirley
                                                Young</b></p>
                                    </td>
                                    <td>
                                        <p class="filterDiv text-center text-success relaxing"><b>Zumba</b></p>
                                        <p class="filterDiv text-center text-success relaxing">10:00 - 11:00</p>
                                        <p class="filterDiv text-center text-success relaxing"><b>Olivia Hall</b></p>
                                    </td>
                                    <td>
                                        <p class="filterDiv text-center text-danger relaxing workout"><b>Power Dance</b>
                                        </p>
                                        <p class="filterDiv text-center text-danger relaxing workout">10:00 - 11:00</p>
                                        <p class="filterDiv text-center text-danger relaxing workout"><b>Shirley
                                                Young</b></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="align-middle"><b>12:00</b></td>
                                    <td>
                                        <p class="filterDiv text-center text-info stretching"><b>Pilates</p>
                                        <p class="filterDiv text-center text-info stretching">12:00 - 13:00</p>
                                        <p class="filterDiv text-center text-info stretching"><b>Kimberly Tran</b></p>
                                    </td>
                                    <td>
                                        <p class="filterDiv text-center text-danger relaxing workout"><b>Power Dance</b>
                                        </p>
                                        <p class="filterDiv text-center text-danger relaxing workout">12:00 - 13:00</p>
                                        <p class="filterDiv text-center text-danger relaxing workout"><b>Shirley
                                                Young</b></p>
                                    </td>
                                    <td>
                                        <p class="filterDiv text-center text-info stretching"><b>Pilates</b></p>
                                        <p class="filterDiv text-center text-info stretching">12:00 - 13:00</p>
                                        <p class="filterDiv text-center text-info stretching"><b>Kimberly Tran</b></p>
                                    </td>
                                    <td>
                                        <p class="filterDiv text-center text-danger relaxing workout"><b>Power Dance</b>
                                        </p>
                                        <p class="filterDiv text-center text-danger relaxing workout">12:00 - 13:00</p>
                                        <p class="filterDiv text-center text-danger relaxing workout"><b>Shirley
                                                Young</b></p>
                                    </td>
                                    <td>
                                        <p class="filterDiv text-center text-info stretching"><b>Pilates</b></p>
                                        <p class="filterDiv text-center text-info stretching">12:00 - 13:00</p>
                                        <p class="filterDiv text-center text-info stretching"><b>Kimberly Tran</b></p>
                                    </td>
                                    <td>
                                        <p class="filterDiv text-center nutrition text-secondary"><b>Body Balance</b>
                                        </p>
                                        <p class="filterDiv text-center nutrition text-secondary">12:00 - 13:00</p>
                                        <p class="filterDiv text-center nutrition text-secondary"><b>Tim Simpson</b></p>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="align-middle"><b>14:00</b></td>
                                    <td></td>
                                    <td>
                                        <p class="filterDiv text-center text-warning stretching workout"><b>Yoga
                                                Workout</b></p>
                                        <p class="filterDiv text-center text-warning stretching workout">14:00 - 15:00
                                        </p>
                                        <p class="filterDiv text-center text-warning stretching workout"><b>Gloria
                                                Moore</b></p>
                                    </td>
                                    <td>
                                        <p class="filterDiv text-center nutrition text-secondary"><b>Body Balance</b>
                                        </p>
                                        <p class="filterDiv text-center nutrition text-secondary">14:00 - 15:00</p>
                                        <p class="filterDiv text-center nutrition text-secondary"><b>Tim Simpson</b></p>
                                    </td>
                                    <td>
                                        <p class="filterDiv text-center text-warning stretching workout"><b>Yoga
                                                Workout</b></p>
                                        <p class="filterDiv text-center text-warning stretching workout">14:00 - 15:00
                                        </p>
                                        <p class="filterDiv text-center text-warning stretching workout"><b>Gloria
                                                Moore</b></p>
                                    </td>
                                    <td></td>
                                    <td>
                                        <p class="filterDiv text-center text-danger relaxing workout"><b>Power Dance</b>
                                        </p>
                                        <p class="filterDiv text-center text-danger relaxing workout">12:00 - 13:00</p>
                                        <p class="filterDiv text-center text-danger relaxing workout"><b>Shirley
                                                Young</b></p>
                                    </td>
                                    <td>
                                        <p class="filterDiv text-center text-warning stretching workout"><b>Yoga
                                                Workout</b></p>
                                        <p class="filterDiv text-center text-warning stretching workout">14:00 - 15:00
                                        </p>
                                        <p class="filterDiv text-center text-warning stretching workout"><b>Gloria
                                                Moore</b></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="align-middle"><b>16:00</b></td>
                                    <td>
                                        <p class="filterDiv text-center text-success relaxing"><b>Zumba</b></p>
                                        <p class="filterDiv text-center text-success relaxing">16:00 - 17:00</p>
                                        <p class="filterDiv text-center text-success relaxing"><b>Olivia Hall</b></p>
                                    </td>
                                    <td>
                                        <p class="filterDiv text-center text-info stretching"><b>Pilates</b></p>
                                        <p class="filterDiv text-center text-info stretching">16:00 - 17:00</p>
                                        <p class="filterDiv text-center text-info stretching"><b>Kimberly Tran</b></p>
                                    </td>
                                    <td></td>
                                    <td>
                                        <p class="filterDiv text-center text-info stretching"><b>Pilates</b></p>
                                        <p class="filterDiv text-center text-info stretching">16:00 - 17:00</p>
                                        <p class="filterDiv text-center text-info stretching"><b>Kimberly Tran</b></p>
                                    </td>
                                    <td>
                                        <p class="filterDiv text-center text-success relaxing"><b>Zumba</b></p>
                                        <p class="filterDiv text-center text-success relaxing">16:00 - 17:00</p>
                                        <p class="filterDiv text-center text-success relaxing"><b>Olivia Hall</b></p>
                                    </td>
                                    <td>
                                        <p class="filterDiv text-center text-info stretching"><b>Pilates</b></p>
                                        <p class="filterDiv text-center text-info stretching">16:00 - 17:00</p>
                                        <p class="filterDiv text-center text-info stretching"><b>Kimberly Tran</b></p>
                                    </td>
                                    <td>
                                        <p class="filterDiv text-center nutrition text-secondary"><b>Body Balance</b>
                                        </p>
                                        <p class="filterDiv text-center nutrition text-secondary">16:00 - 17:00</p>
                                        <p class="filterDiv text-center nutrition text-secondary"><b>Tim Simpson</b></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="grid bgimg-3">
                    <div class="grid wide"
                        style="display: flex;flex-flow: column;justify-content: space-evenly;padding-top: 60px;">
                        <div class="row">
                            <div class="col l-12 text-center">
                                <h1 class="l-12" style="color: white;font-family: 'Oregano';font-size: 66px;">Success
                                    Stories</h1>
                                <h1 style="color: greenyellow;">
                                    <i class="fab fa-canadian-maple-leaf fa-lg"></i>
                                </h1>
                            </div>
                            <hr>
                        </div>
                        <div class="uk-slider-container-offset"
                            uk-slider="autoplay: true; center: true; autoplay-interval: 3000">

                            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

                                <ul class="uk-slider-items uk-child-width-1-3@s uk-grid">
                                    <li>
                                        <div class="uk-card uk-card-default">
                                            <div class="uk-card-media-top">
                                                <img src="https://getuikit.com/docs/images/photo.jpg" alt="">
                                            </div>
                                            <div class="uk-card-body">
                                                <h3 class="uk-card-title">Headline</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                    eiusmod tempor incididunt.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="uk-card uk-card-default">
                                            <div class="uk-card-media-top">
                                                <img src="https://getuikit.com/docs/images/dark.jpg" alt="">
                                            </div>
                                            <div class="uk-card-body">
                                                <h3 class="uk-card-title">Headline</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                    eiusmod tempor incididunt.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="uk-card uk-card-default">
                                            <div class="uk-card-media-top">
                                                <img src="https://getuikit.com/docs/images/light.jpg" alt="">
                                            </div>
                                            <div class="uk-card-body">
                                                <h3 class="uk-card-title">Headline</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                    eiusmod tempor incididunt.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="uk-card uk-card-default">
                                            <div class="uk-card-media-top">
                                                <img src="https://getuikit.com/docs/images/photo2.jpg" alt="">
                                            </div>
                                            <div class="uk-card-body">
                                                <h3 class="uk-card-title">Headline</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                    eiusmod tempor incididunt.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="uk-card uk-card-default">
                                            <div class="uk-card-media-top">
                                                <img src="https://getuikit.com/docs/images/photo3.jpg" alt="">
                                            </div>
                                            <div class="uk-card-body">
                                                <h3 class="uk-card-title">Headline</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                    eiusmod tempor incididunt.</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#"
                                    uk-slidenav-previous uk-slider-item="previous"></a>
                                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#"
                                    uk-slidenav-next uk-slider-item="next"></a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid wide" style="padding: 24px;">
                    <div class="container">
                        <div class="row">
                            <div class="col l-12 md-12 c-12 text-center">
                                <h1 style="color: green;"><i class="fas fa-spa fa-x5"></i></h1>
                            </div>
                            <div class="col l-12 md-12 c-12 text-center">
                                <h1 style="font-family: 'Oregano';font-size: 55px;"><b>Request a free consultation</b>
                                </h1>
                            </div>
                        </div>
                        <form>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col l-4 md-4 c-12">
                                        <input type="text" class="form-control" id="email" placeholder="Name"
                                            name="name" required>
                                    </div>
                                    <div class="col l-4 md-4 c-12">
                                        <input type="email" class="form-control" placeholder="Email" name="email"
                                            required>
                                    </div>
                                    <div class="col l-4 md-4 c-12">
                                        <input type="number" class="form-control" placeholder="Phone" name="phone"
                                            required>
                                    </div>
                                </div>
                                <label for="comment"></label>
                                <textarea class="form-control" rows="5" id="comment" placeholder="Message" name="text"
                                    required></textarea>
                                <label for="submit"></label>
                                <div class="row">
                                    <div class="col l-4 l-o-4 md-4 md-o-4 c-12 text-center">
                                        <button type="submit" class="btn btn-success form-control">Send request</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
        </main>

        <footer>
            <%- include('footer') %>
        </footer>

        <!-- Custom JS library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/js/uikit-icons.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery.fullpage.js"></script>
        <!-- End JS library -->
        <script>
            //slide owl
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                items: 3,
                loop: true,
                margin: 10,
                autoplay: true,
                autoplayTimeout: 3000,
                autoplayHoverPause: true
            });
            $('.play').on('click', function () {
                owl.trigger('play.owl.autoplay', [1000])
            })
            $('.stop').on('click', function () {
                owl.trigger('stop.owl.autoplay')
            })


            //tiptab
            function openCity(evt, cityName) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
            }
            document.getElementById("defaultOpen").click();


            //filter cal
            filterSelection("all")
            function filterSelection(c) {
                var x, i;
                x = document.getElementsByClassName("filterDiv");
                if (c == "all") c = "";
                for (i = 0; i < x.length; i++) {
                    w3RemoveClass(x[i], "show");
                    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
                }
            }

            function w3AddClass(element, name) {
                var i, arr1, arr2;
                arr1 = element.className.split(" ");
                arr2 = name.split(" ");
                for (i = 0; i < arr2.length; i++) {
                    if (arr1.indexOf(arr2[i]) == -1) { element.className += " " + arr2[i]; }
                }
            }

            function w3RemoveClass(element, name) {
                var i, arr1, arr2;
                arr1 = element.className.split(" ");
                arr2 = name.split(" ");
                for (i = 0; i < arr2.length; i++) {
                    while (arr1.indexOf(arr2[i]) > -1) {
                        arr1.splice(arr1.indexOf(arr2[i]), 1);
                    }
                }
                element.className = arr1.join(" ");
            }

            // Add active class to the current button (highlight it)
            var btnContainer = document.getElementById("myBtnContainer");
            var btns = btnContainer.getElementsByClassName("btn");
            for (var i = 0; i < btns.length; i++) {
                btns[i].addEventListener("click", function () {
                    var current = document.getElementsByClassName("active");
                    current[0].className = current[0].className.replace(" active", "");
                    this.className += " active";
                });
            }

        </script>
    </body>

</html>