<!DOCTYPE html>
<html lang="en">

<head>
    <title>Nutrition Facts F4-Team</title>

    <%- include('head') %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="css/nutritionfacts.css">
    <!-- Custom style -->

    <!-- End style -->
</head>

<body>

<header>
    <%- include('header')%>
</header>

<main>
    <!-- Navbar -->
    <div class="container" style="margin-top: 100px">
        <div class="navbar" style="letter-spacing: 2px; text-align: center">
            <a href="#" class="w3-bar-item w3-button">Healthy Recipes</a>
            <a href="#" class="w3-bar-item w3-button">Nutrition Facts</a>
            <a href="#" class="w3-bar-item w3-button">Our Virtual Event</a>
        </div>
    </div>

    <!-- !PAGE CONTENT! -->
    <div class="row">
        <div class="container">
            <div class="menu-headline">
                <h1 style="font-size: 75px; text-align: center; margin: 15px 0"> Nutrition Facts </h1>
            </div>
            <div class="text" style="line-height: 1.6; text-align: center; font-size: 16px">
                <p><i> Here you'll find free food nutrition data because we know how important it is to know what you're putting in your body.
                        Learn how to live your healthiest lifestyle by exploring the nutritional value of various foods. From recipe nutrition calculator, diet meal plans to the health
                        benefits of different ingredients, F4 Nutrition Facts offers reliable, original information that enhances the progress towards healthy lifestyles as a whole.
                    </i></p>
            </div>
        </div>
    </div>

    <!-- GRID -->
    <div class="container" style="max-width:1200px;margin-top:70px; padding: 8px 16px !important;">
        <div class="w3-row-padding w3-center">
            <div class="media">
                <p style="opacity: 0.1;">hello</p>
            </div>
            <div class="description">
                <a href="#"><h2 style="font-size: 35px">The 10 Best Ways to Boost <br> Your Fiber Intake</h2></a>
                <p>Yes, you probably need to eat more fiber. Here are easy and tasty ways to fix that by enhancing foods you turn to often...</p>
            </div>
        </div>
        <hr>
        <!-- Highlight Posts -->
        <div class="w3-row-padding w3-padding-16 w3-center">
            <div class="menu-headline">
                <h1 style="font-size: 50px; color: #1D262D; margin-bottom: 20px"> Today's Highlight Post </h1>
            </div>
            <div class="w3-quarter">
                <img src="images/g9.jpg" width="250" height="375">
                <a href="#"><h3>Green Peas - an Antioxidant </h3></a>
                <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
            </div>
            <div class="w3-quarter">
                <img src="images/g10.jpg" width="250" height="375">
                <a href="#"><h3>Tomatoes for Your Skin</h3></a>
                <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
            </div>
            <div class="w3-quarter">
                <img src="images/g11.jpg" width="250" height="375">
                <a href="#"><h3>Homemade Pasta <br>is Better </h3></a>
                <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
                <p>What else?</p>
            </div>
            <div class="w3-quarter">
                <img src="images/g12.jpg" width="250" height="375">
                <a href="#"><h3>Mussels' Nutrition Facts </h3></a>
                <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
            </div>
        </div>
        <hr>
        <!-- Big Post -->
        <div class="w3-row-padding w3-padding-16 w3-center">
            <div class="menu-headline">
                <h1 style="font-size: 50px; color: #1D262D; margin-bottom: 20px"> Our Latest Posts </h1>
            </div>
            <div class="w3-threequarter">
                <div class="media2">
                    <p style="opacity: 0.5;">hello</p>
                </div>
                <div class="description2">
                    <a href="#"><h3 style="font-size: 30px"> 5 Eczecma Friendly Foods You <br> Should Know About</h3></a>
                    <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
                </div>
            </div>
            <div class="w3-quarter">
                <div class="tags">
                    <h1 style="font-size: 45px;"> Popular Topics </h1>
                    <p>Readers are most interested in the following tags!</p>
                    <ul style="line-height: 2.0; text-align: left">
                        <li><a href="#"><h4>Proteins </h4></a></li>
                        <li><a href="#"><h4>Beverages </h4></a></li>
                        <li><a href="#"><h4>Whole Grains </h4></a></li>
                        <li><a href="#"><h4>Fruits and Vegetables </h4></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <!-- Latest Posts -->
        <div class="w3-row-padding w3-padding-16 w3-center" id="nutrition">

            <div class="w3-quarter">
                <img src="images/n2.jpg" width="250" height="375">
                <a href="#"><h3>Should You Eat Avocado Everyday? </h3></a>
                <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
            </div>
            <div class="w3-quarter">
                <img src="images/n3.jpg" width="250" height="375">
                <a href="#"><h3> Honey - Not Just a Sweet Taste </h3></a>
                <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
            </div>
            <div class="w3-quarter">
                <img src="images/n4.jpg" width="250" height="375">
                <a href="#"><h3> The Powers of Broccoli </h3></a>
                <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
                <p>What else?</p>
            </div>
            <div class="w3-quarter">
                <div class="newsletter">
                    <h1 style="font-size: 50px;"> Join our Weekly Newsletter</h1>
                    <p class="newslettertext">Sign up to receive recipes, cooking tips and the latest kitchen product reviews in your inbox!</p>
                    <form method="post">
                        <label><b>Your name</b></label>
                        <input type="text" placeholder="Name" name="name" required>

                        <label><b>Your Email</b></label>
                        <input type="text" placeholder="Email" name="email" required>

                        <button type="submit" class="btn">SIGN UP</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="w3-row-padding w3-padding-16 w3-center">
            <div class="w3-quarter">
                <img src="images/n7.jpg" width="250" height="375">
                <a href="#"><h3> Should You Add Pumpkin to Your Diet? </h3></a>
                <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
            </div>
            <div class="w3-quarter">
                <img src="images/n5.jpg" width="250" height="375">
                <a href="#"><h3>Rosemary Nutrition Facts</h3></a>
                <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
            </div>
            <div class="w3-quarter">
                <img src="images/n8.jpg" width="250" height="375">
                <a href="#"><h3> Garlic and Chili - The Powerful Duo </h3></a>
                <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
                <p>What else?</p>
            </div>
        </div>

        <div class="w3-padding-32" style="margin-left: 25%">
            <div class="w3-bar">
                <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
                <a href="#" class="w3-bar-item w3-black w3-button">1</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
            </div>
        </div>
    </div>
</main>

<footer>
    <%- include('footer') %>
</footer>

<!-- Custom JS library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- End JS library -->

</body>

</html>