<!-- Begin slider -->
<div id="slider" class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
  uk-slideshow="ratio: 8:3; autoplay: true; min-height: 400; animation: push" style="margin-top: 72px;">

  <ul class="uk-slideshow-items">
    <li>
      <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
        <img src="images/slide1.jpg" alt="" uk-cover>

      </div>
      <div class="uk-position-center uk-position-small uk-text-center" style="text-shadow: 0 0 2px #333;">
        <h1 uk-slideshow-parallax="x: 100,-100">"Tài sản đầu tiên là sức khỏe."</h1>
        <h3 uk-slideshow-parallax="x: -200,200"><i>- Ralph Waldo Emerson-</i></h3>
      </div>
    </li>
    <li>
      <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-top-right">
        <img src="images/slide2.jpg" alt="" uk-cover>
      </div>
      <div class="uk-position-bottom-left uk-position-small uk-text-left" style="text-shadow: 0 0 2px #333;">
        <h1 uk-slideshow-parallax="y: -100,0,0; opacity: 1,1,0">"Để hưởng thụ vầng hào quang của sức khỏe tốt, bạn
          phải luyện tập."</h1>
        <h3 uk-slideshow-parallax="y: 100,0,0; opacity: 1,1,0"><i>-Gene Tunney-</i></h3>
      </div>
    </li>
    <li>
      <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-bottom-left">
        <img src="images/slide3.jpg" alt="" uk-cover>
      </div>
      <div class="uk-position-top-right uk-position-small uk-text-right" style="text-shadow: 0 0 2px #333;">
        <h1 uk-slideshow-parallax="x: 100,-100">"Tôi thích ăn đồ ăn tốt cho sức khỏe, bởi tôi đáng được như thế."
        </h1>
        <h3 uk-slideshow-parallax="x: 200,-200"><i>-Katrina Mayer-</i></h3>
      </div>
    </li>
    <li>
      <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-top-right">
        <img src="images/slide4.jpg" alt="" uk-cover>
      </div>
      <div class="uk-position-top-left uk-position-small uk-text-left" style="text-shadow: 0 0 2px #333;">
        <h1 uk-slideshow-parallax="y: -100,0,0; opacity: 1,1,0">"Sức khỏe tốt và trí tuệ minh mẫn là hai điều hạnh
          phúc nhất của cuộc đời."</h1>
        <h3 uk-slideshow-parallax="y: 100,0,0; opacity: 1,1,0"><i>-Publilius Syrus-</i></h3>
      </div>
    </li>
    <li>
      <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-bottom-left">
        <img src="images/slide5.jpg" alt="" uk-cover>
      </div>
      <div class="uk-position-bottom-right uk-position-small uk-text-right" style="text-shadow: 0 0 2px #333;">
        <h1 uk-slideshow-parallax="x: 100,-100">"Bề ngoài khỏe khoắn bắt đầu từ bên trong."</h1>
        <h3 uk-slideshow-parallax="x: 200,-200"><i>-Robert Urich-</i></h3>
      </div>
    </li>
  </ul>

  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
    uk-slideshow-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
    uk-slideshow-item="next"></a>
  <div class="uk-position-bottom-center uk-position-small">
    <ul class="uk-dotnav">
      <li uk-slideshow-item="0"><a href="#">Item 1</a></li>
      <li uk-slideshow-item="1"><a href="#">Item 2</a></li>
      <li uk-slideshow-item="2"><a href="#">Item 3</a></li>
      <li uk-slideshow-item="3"><a href="#">Item 4</a></li>
      <li uk-slideshow-item="4"><a href="#">Item 5</a></li>
    </ul>
  </div>
</div>
<!-- End slider -->