<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('head') %>

        <title>YOGA</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
        <link rel="stylesheet" type="text/css" href="css/grid.css">
        <link rel="stylesheet" type="text/css" href="css/header.css">
        <link rel="stylesheet" type="text/css" href="css/footer.css">
        <link rel="stylesheet" href="css/yoga.css">


</head>

<body>

    <header>
        <%- include('header')%>
    </header>

    <main>
        <div class="main">
            <div class="grid wide">
                <div class="row">
                    <h2 class="gymer-heading">YOGA</h2>
                    <div class="gymer-line"></div>
                </div>
            </div>
        </div>
        <div class="list-post">
            <div class="grid wide">
                <div class="row">
                    <div class="item-post col l-12 md-12 c-12">
                        <div class="row">
                            <div class="date col l-1 m-0 c-0">
                                <p class="date-post">10</p>
                                <p class="month-post">04 - 21</p>
                            </div>
                            <div class="post-img col l-3 md-9 c-12">
                                <a href="#">
                                    <img src="./images/tap-yoga-mua-he-1.jpg" alt="" width="100%">
                                </a>
                            </div>
                            <div class="post-info col l-8 md-12 c-12">
                                <a href="#" class="heading-post-link">10 cách để cơ thể giữ nước cho luyện tập yoga vào mùa hè</a>
                                <p class="post-description">TMùa hè đang đến gần, và đối với thiền sinh, các bạn hãy nghĩ đến việc luyện tập yoga ngoài trời. Khi thời tiết thuận lợi, luyện tập yoga vào mùa hè bên ngoài có thể mang lại cảm giác...
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item-post col l-12 md-12 c-12">
                        <div class="row">
                            <div class="date col l-1 m-0 c-0">
                                <p class="date-post">09</p>
                                <p class="month-post">03 - 21</p>
                            </div>
                            <div class="post-img col l-3 md-9 c-12">
                                <a href="#">
                                    <img src="./images/cobra-pose-1.jpg" alt="" width="100%">
                                </a>
                            </div>
                            <div class="post-info col l-8 md-12 c-12">
                                <a href="#" class="heading-post-link">Yoga hằng ngày: 10 tư thế Yoga bạn nên thực hành mỗi ngày</a>
                                <p class="post-description">Đôi khi, bạn không thể tập yoga cả tiếng đồng hồ, nhưng nếu tập yoga hằng ngày bạn sẽ có thể chỉ cần từ 10 đến 15 phút mỗi lần tập để kéo giãn lưng, đùi sau và hông...</p>
                            </div>
                        </div>
                    </div>
                    <div class="item-post col l-12 md-12 c-12">
                        <div class="row">
                            <div class="date col l-1 m-0 c-0">
                                <p class="date-post">21</p>
                                <p class="month-post">02 - 21</p>
                            </div>
                            <div class="post-img col l-3 md-9 c-12">
                                <a href="#">
                                    <img src="./images/tap-yoga-tai-nha.jpg" alt="" width="100%">
                                </a>
                            </div>
                            <div class="post-info col l-8 md-12 c-12">
                                <a href="#" class="heading-post-link">Hướng dẫn tập Yoga tại nhà đúng cách cho người mới bắt
                                    đầu!</a>
                                <p class="post-description">Yoga là bộ môn thể dục mang lại cho người tập rất nhiều lợi ích và hiện nó đang thu hút được rất nhiều người quan tâm, tham gia tập luyện. Tuy nhiên, không phải ai cũng có điều kiện để đến phòng tập...
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item-post col l-12 md-12 c-12">
                        <div class="row">
                            <div class="date col l-1 m-0 c-0">
                                <p class="date-post">12</p>
                                <p class="month-post">02 - 21</p>
                            </div>
                            <div class="post-img col l-3 md-9 c-12">
                                <a href="#">
                                    <img src="./images/yoga-tai-nha.jpg" alt="" width="100%">
                                </a>
                            </div>
                            <div class="post-info col l-8 md-12 c-12">
                                <a href="#" class="heading-post-link">Tập Yoga tại nhà có khó như bạn tưởng tượng hay không?</a>
                                <p class="post-description">Không ai có thể phủ nhận những lợi ích thần kì với sức khoẻ con người mà Yoga đem lại. Tuy nhiên, không phải ai cũng có đủ điều kiện và thời gian để tham gia các lớp học Yoga do công việc bận rộn, chăm sóc con cái, quán
                                    xuyến gia đình… Ngoài ra, có nhiều người không thích không gian tập nơi đông người. Chính vì vậy, một giải pháp đơn giản cho những bạn có nhu cầu này đó là tự tập Yoga tại nhà.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="grid wide">

            <div class="gymer-list-page ">
                <div class="gymer-item-page">
                    <i class="fi-rr-angle-left gymer-item-page__icon"></i>
                </div>
                <div class="gymer-item-page">
                    <a href="#" class="gymer-item-page__link gymer-item-page__link-active">1</a>
                </div>
                <div class="gymer-item-page">
                    <a href="#" class="gymer-item-page__link">2</a>
                </div>
                <div class="gymer-item-page">
                    <a href="#" class="gymer-item-page__link">3</a>
                </div>
                <div class="gymer-item-page">
                    <a href="#" class="gymer-item-page__link">4</a>
                </div>
                <div class="gymer-item-page">
                    <a href="#" class="gymer-item-page__link">5</a>
                </div>
                <div class="gymer-item-page">
                    <i class="fi-rr-angle-right gymer-item-page__icon"></i>
                </div>
            </div>
        </div>

        <div class="img-footer" style="background-image: url(./images/aerobic-footer.jpg);">
            <h1>F4 FITNESS</h1>
            <p>"Cho cuộc sống tươi trẻ, năng động hơn."</p>
        </div>
    </main>


    <footer>
        <%- include('footer') %>
    </footer>


    <!-- Custom JS library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- End JS library -->
</body>

</html>