#footer {
    padding: 50px 100px;
    height: 500px;
    background-color: #eeeeee;
    border-top: 1px solid #ccc;
    font-size: 16px;
}

#footer a {
    text-decoration: none;
    color: black;
}

#footer li {
    display: block;
    list-style: none;
    line-height: 48px;
}

#footer a:hover {
    color: green;
}

.footer-socials {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(7, auto);
    justify-content: space-between;
}

.footer-socials i {
    font-size: 36px;
}