* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.main {
    overflow: hidden;
    margin-top: 150px;
}

.heading-post {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
    font-size: 36px;
}

.post-date {
    font-size: 14px;
    margin-bottom: 20px;
}

.post-info.col {
    font-size: 16px;
    line-height: 26px;
    padding-right: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #dadada;
}

.post-img-top {
    width: 100%;
    margin-bottom: 20px;
}

.image {
    width: 100%;
}

.post-img {
    width: 90%;
    margin: 20px auto;
}

.post-img img {
    width: 100%;
}

.post-title {
    font-size: 30px;
    margin: 30px 0 10px;
}

.info-list {
    padding-left: 20px;
    margin-top: 20px;
}

.info-item {
    margin: 16px 0;
}


/* .right-bar.col {
    padding-left: 40px;
} */

.right-bar-heading {
    font-size: 24px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dadada;
}

.ringt-bar-icon {
    font-size: 20px;
    display: inline-block;
    color: #dadada;
    margin-right: 16px;
    position: relative;
    top: 2px;
}

.category-list {
    padding-left: 0;
    list-style: none;
    margin-top: 20px;
}

.category-item a {
    display: block;
    text-decoration: none;
    padding: 10px 0;
    font-size: 18px;
    color: #008000;
    padding-left: 10px;
    border-bottom: 1px solid #dadada;
}

.category-item a:hover {
    color: rgb(194, 2, 2);
    background-color: #f6f6f6;
}

.category-item:last-child a {
    border-bottom: 0;
}

.second {
    margin-top: 100px;
}

.list-train {
    margin-top: 100px;
    list-style: none;
    padding-left: 0;
}

.item-train:first-child {
    background-color: #fae20d;
    font-size: 24px;
    padding: 16px 10px;
    font-weight: 500;
}

.item-train:first-child i {
    color: #008000;
    margin-left: 10px;
}

.item-train {
    display: flex;
    padding: 10px 16px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #d8d8d8;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.hover-item-train {
    position: absolute;
    top: 0px;
    left: 0px;
    border-style: solid;
    border-width: 72px 45px;
    border-color: #008000 transparent transparent #008000;
    transform: translateX(-100px);
    transition: ease 0.4s;
}

.item-train:hover .hover-item-train {
    transform: translateX(0);
    transition: ease 0.4s;
}

.item-train:hover .train-title {
    transform: translateX(20px);
    transition: ease 0.4s;
}

.item-train:hover .train-date {
    color: #fff;
}

.item-train a {
    text-decoration: none;
}

.train-date {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    color: #000;
    line-height: 26px;
    position: relative;
    z-index: 1;
    animation: color-date ease 0.4s;
}

@keyframes color-date {
    from {
        color: #000;
    }
    to {
        color: #fff;
    }
}

.train-month {
    font-size: 16px;
}

.train-date p {
    margin: 0;
}

.train-title a {
    padding-left: 10px;
    text-decoration: none;
    color: #008000;
    font-size: 16px;
    line-height: 100%;
    display: block;
    line-height: 20px;
}

.train-title a:hover {
    color: #005c00;
}

.item-train-last {
    padding: 26px;
    border-bottom: none;
    background-color: #f5f5f5;
}

.related {
    margin-top: -60px;
    padding-top: 100px;
}

.related-line {
    margin: 0 auto;
    width: 1300px;
    border-bottom: 1px solid #868686;
}

.row .related-heading {
    display: block;
    text-decoration: none;
    position: relative;
    top: 1px;
    margin: 0 auto;
    width: 300px;
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #008000;
    color: #000;
}


/* .row .related-heading:hover {
    color: #005800;
} */

.related-main {}

.related-post-info {
    margin-top: 40px;
}

.related-post-info a {
    text-decoration: none;
}

.related-post-img {
    width: 100%;
    height: 195px;
    overflow: hidden;
}

.related-post-info__link {
    display: block;
    width: 100%;
    text-decoration: none;
    transform: scale(1);
    transition: ease 0.4s;
}

.related-post-info__link:hover {
    transform: scale(1.2);
    transition: ease 0.4s;
}

.related-post-info__img {
    width: 100%;
    height: 195px;
}

.related-post-info__heading {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #008000;
    line-height: 26px;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.related-post-info__heading h3 {
    font-size: 20px;
}

.related-post-info_line {
    margin-top: 10px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #c3c3c3;
}

.related-post-info_line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    border-bottom: 1px solid #008000;
}

.related-post-info__heading:hover {
    color: #005d00;
}

.related-post-info__description {
    display: block;
    margin-top: 16px;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
}

.related-post-info_line-bot {
    width: 75%;
    margin: 0 auto;
    border-bottom: 1px solid #c3c3c3;
}

.post-footer {
    margin-top: 60px;
    width: 100%;
    height: 400px;
    background-size: cover;
    position: relative;
    padding-top: 90px;
}

.post-footer::before {
    content: "";
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.post-footer h1 {
    position: relative;
    z-index: 1;
    font-size: 80px;
    color: #ffffff;
    font-style: italic;
    text-align: center;
}

.post-footer p {
    position: relative;
    z-index: 1;
    font-size: 60px;
    color: #ffffff;
    font-style: italic;
    text-align: center;
}

.form {
    margin-top: 100px;
    padding: 40px 30px;
    background-color: #f5f5f5;
}

.form-heading {
    font-size: 26px;
    text-align: center;
    font-weight: 500;
}

.name {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
}

.input {
    display: block;
    border: none;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    font-size: 14px;
}

.btn-form {
    margin-top: 24px;
    width: 100%;
    height: 40px;
    background-color: #fae20d;
    color: #008000;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 3px;
}

.btn-form:hover {
    background-color: #f5e556;
}