/* .logo-img{
    width: 100px;
    height: 100px;
    margin-top: -20px;
    border-radius: 100%;
} */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    /* margin: 25px 0; */
    /* margin: 25px 0; */
    font-family: "Fira Sans" !important ;
    font-size: 1em;
    /* color: #ffffff; */
    /* background-color: #d9ef81; */
    /* background-image: linear-gradient(to right, #6cbe03, #f4a700); */
  }
.menu{
    font-size: 16px;
}
#header{
    z-index: 1;
}
.w3-display-container{
    margin-bottom: 100px;
}
.w3-display-container{
    margin-top: 50px;
}
.w3-display-left{
    margin-top: -100px;
}
.w3-third img:hover{
    transform: scale(1.05);
    transition: 0.85s;
}
.img-tips{
    width: 350px;
    height: 225px;
}