.slide-card {
	position: relative;
}
.slide-cards .slide-card-content {
	padding: 24px 12px;
}
.slide-cards .slide-card-content a {
	text-decoration: none;
	color: green;
}
.slide-cards .slide-card-content a:hover {
	color: black;
}
.slide-cards .slide-card-content .slide-card-icon {
	position: absolute;
	left: 50%;
	top: 285px;
	width: 84px;
	height: 84px;
	line-height: 84px;
	background-color: #fff;
	color: #4fbf70;
	font-size: 25px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.slide-cards .slide-card-content .slide-card-icon img {
	position: relative;
	display: block;
	width: 50%;
	top: 50%;
	margin: 0 auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}
.bgimg-1,
.bgimg-2,
.bgimg-3 {
	position: relative;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.bgimg-1 h4,
.bgimg-2 h4 {
	color: white;
}
.bgimg-1 a,
.bgimg-2 a {
	display: inline-block;
	text-decoration: none;
	color: white;
	border: 2px solid white;
	border-radius: 25px;
	padding: 12px 24px;
}
.bgimg-1 a,
.bgimg-2 a:hover {
	background-color: white;
	color: green;
}
.bgimg-1 {
	background-image: url("../images/info-block-bg-1-min.jpg");
	min-height: 512px;
	color: white;
	display: flex;
	align-items: center;
}
.bgimg-2 {
	background-image: url("../images/bgimg-2.jpg");
	min-height: 750px;
	color: white;
}
.bgimg-2::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.articles-cards {
	position: relative;
	margin-top: 24px;
}
.articles-cards img {
	height: 200px;
	width: fit-content;
}
.articles-cards .article-card-content {
	padding: 12px 24px;
}
.articles-cards .article-card-content a {
	text-decoration: none;
	color: green;
}
.articles-cards .article-card-content a:hover {
	color: black;
}
.articles-cards .article-card-content .article-card-icon {
	position: absolute;
	left: 50%;
	top: 200px;
	width: 55px;
	height: 55px;
	line-height: 55px;
	background-color: #fff;
	color: #4fbf70;
	font-size: 25px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.tab {
	float: left;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: #f1f1f1;
	height: auto;
}

/* Style the buttons inside the tab */
.tab button {
	display: block;
	background-color: white;
	color: black;
	padding: 22px 16px;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	outline: none;
	text-align: right;
	cursor: pointer;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
	background-color: #fafafa;
	color: green;
	font-weight: 700;
	border-right: 5px solid green;
}

/* Style the tab content */
.tabcontent {
	float: left;
	padding: 24px 48px;
	border: 1px solid #ccc;
	border-left: none;
	height: auto;
}
.tabcontent li {
	list-style: none;
}
.tabcontent .fas {
	display: inline-block;
	color: green;
}
.tabcontent p {
	display: inline-block;
	margin: 4px;
}
